/*edit style*/
#add-category-btn{
    padding: 3px 5px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
}
#wiki-body .last .popover-title {
    padding: 8px 14px;
}
#catlinks .last .top{
    bottom: 200px;
    top: inherit!important;
}
.edit-input{
    border: 1px solid #aaa;
    min-height: 30px;
    height: auto;
    padding:3px 5px;
    cursor: text;
}
.edit-field input{
    border: none;
    width: 10px;
    display: inline-block;
    cursor: text;
}
.edit-field input:focus{
    width: 60px;
}
.edit-input li{
    margin: 0;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px!important;
    line-height: 1.2!important;
    cursor: default;
}
.edit-input li i{
    font-size: 12px;
    cursor: pointer;
}
.edit-input .edit-field{
    border: none;
}
.popover.bottom  {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
}
.edit-span{
    border: 1px solid #999!important;
}
.popover-content .edit:after {
    content: '';
    clear: both;
    display: block;
}
.edit-buttons {
    margin-top: 10px;
    float: right;
}
.edit-tutorial {
	display: inline-block;
    font-size: 12px;
    color: #ccc;
    padding-top: 12px;
}