#huiji-suggest-result{
    position: absolute;
    background: #fff;
    list-style-type: none;
    padding-left: 0;
    border: 1px solid #aaa;
}
#huiji-suggest-result li {
    padding: 8px 10px;
    clear: both;
}
#huiji-suggest-result a {
    transition: none;
    color: #333;
}
#huiji-suggest-result a:last-child {
    float: right;
    color: #428bca;
}
#huiji-suggest-result li:hover {
    background: #09c;
}
#huiji-suggest-result li:hover a{
    color: #fff;
}
