.recommend.owl-carousel{
    display: none !important;
}
.skin-BootstrapMediawiki .ve-ui-toolbar-floating > .oo-ui-toolbar-bar{
    z-index: 101;
}
.skin-BootstrapMediawiki .ve-ui-overlay-global{
	z-index: 200;
}
.skin-BootstrapMediawiki .ve-ui-mwSaveDialog-checkboxes {
	color:#333;
}
.skin-BootstrapMediawiki [contenteditable="true"]{
	color: inherit;
}
html:not(.ve-activated) #firstHeading {
	margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 3.8em;
    display: inline;
}