#search-result{
    position: absolute;
    background: #fff;
    list-style-type: none;
    padding-left: 0;
    border: 1px solid #aaa;
}
#search-result li {
    padding: 8px 10px;
    clear: both;
}
#search-result a {
    transition: none;
    color: #333;
}
#search-result a:last-child {
    float: right;
    color: #428bca;
}
#search-result li:hover {
    background: #09c;
}
#search-result li:hover a{
    color: #fff;
}
.mw-special-Search #powerSearchText {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px 0 0 3px;
    max-width: 500px;
    padding: 7px;
    border: 1px solid #ccc;
    box-shadow: none;
}
#wiki-body #mw-searchoptions{
    border:none!important;
    max-width: 720px;
    margin: 0 auto;
    padding: 20px!important;
}
#wiki-body #mw-searchoptions div.divider{
    border-bottom: none;
}