.recommend .recommend-item{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    width: 140px;
    height: 200px;
    overflow: hidden;
}
.recommend-title{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    bottom: -25px;
    transition: all .2s ease;
}
.recommend .recommend-item a{
    display: block;
    color: #fff!important;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    cursor: inherit;
}
.recommend img{
    position: absolute;
    transition: all .2s ease;
    transform: translate3d(0px, 0px, 0px);
}
.recommend-header{
    clear: both;
}
.recommend-load{
    width: 140px;
    margin-top: 50px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*background: url(/resources/assets/preloader.gif) no-repeat center center*/
}
.recommend-load:before{
    content: "\f110";
    width: 100%;
    height: 100%;
    font-size: 5.0em;
    text-align: center;
    display: block;
    line-height: 100px;

}
.lazy-loading{
    min-height: 150px;
/*    background: url(../img/loading.gif) no-repeat center center*/
}
.recommend-title em {
    font-style: inherit;
}
.re-opacity{
    opacity: 0;
}
.recommend-title>a:first-child {
    font-size: 18px;
}
.recommend-title>a:last-child {
    padding-top: 5px;
}
.recommend-found-a{
    padding-top: 0;
}
.recommend-found-p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.recommend-item:hover img{
    transform: translate3d(0px, -10px, 0px);
}
.recommend-item:hover .recommend-title{
    bottom: 0;
}
@media screen and (max-width: 767px) {
    .recommend{
        padding-left: 0;
    }
    .recommend .recommend-item{
        margin-right: 5px;
    }
}