/*.wikiEditor-ui-controls, .wikiEditor-ui-tabs, .wikiEditor-ui-buttons {
	background: transparent!important;
}*/
.wikiEditor-ui{
    color: #333;
}
.wikiEditor-ui .mw-charinsert-buttons a{
    color: #428bca;
}
.skin-bootstrap-mediawiki form#edit-form,.skin-bootstrap-mediawiki .wikiEditor-ui,.skin-bootstrap-mediawiki .editOptions{
    font-size: 14px;
}
.wikiEditor-ui-toolbar,.wikiEditor-ui-toolbar .sections .section{
    background: #eee!important;
}
#msupload-dropzone{
    height: auto!important;
}
.wikiEditor-ui-toolbar .page-characters div span{
    height: auto!important;
}
.wikiEditor-preview-contents,#wpTextbox1{
    font-size: 16px;
}
/*@media screen*/
.editOptions {
    background-color: #F0F0F0;
    border: 1px solid silver;
    border-top: none;
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 2em;
    color: #333;
}
.editOptions a {
    color: #09c;
}
.client-js .mw-edittools-section input[type="button"] {
    font-size: 0.9em;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 1px;
}
/*button, html input[type=button], input[type=reset], input[type=submit] {*/
    /*-webkit-appearance: push-button; */
    /*-moz-appearance: -moz-win-borderless-glass;*/
	/*-moz-appearance: -moz-mac-unified-toolbar;*/
/*}*/
p.mw-edittools-section {
	display:inline;
}
.mw-editTools {
/*	border-left: 1px solid silver;
	border-right: 1px solid silver;*/
	padding: 0px 10px;
}


#msupload-select {
	z-index: 0 !important;
}
#msupload-bottom{
    height: auto !important;
}
.skin-bootstrap-mediawiki .CodeMirror {
    font-family: inherit;
}
.skin-BootstrapMediawiki .CodeMirror {
   border: 1px solid #CCC;
   font-size: 16px;
   line-height: 1.5em;
}
 
.skin-BootstrapMediawiki .CodeMirrorIE {
   font-size: small;
}
.skin-BootstrapMediawiki .CodeMirror pre {
    z-index: 1;
}
 
/*// .CodeMirror .cm-mw-pagename { text-decoration: underline; }*/
 /**/
/*// .CodeMirror .cm-mw-matching {background-color: gold;}*/
 /**/
/*// .CodeMirror .cm-mw-skipformatting {    background-color: #adf; }*/
/*// .CodeMirror .cm-mw-list {color: #08f; font-weight: normal; background-color: #eee;}*/
/*// .CodeMirror .cm-mw-signature,*/
/*// .CodeMirror .cm-mw-hr { color: #08f; font-weight: normal; background-color: #eee; }*/
/*// .CodeMirror .cm-mw-indenting {color: #08f; font-weight: normal; background-color: #ddd;}*/
/*// .CodeMirror .cm-mw-mnemonic {color: #090;}*/
/*// .CodeMirror .cm-mw-comment {color: #aaa; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-apostrophes-bold, .cm-mw-apostrophes-italic {color: #08f;}*/
 /**/
/*// .CodeMirror pre.cm-mw-section-1 {font-size: 1.8em;}*/
/*// .CodeMirror pre.cm-mw-section-3 {font-weight: normal;}*/
/*// .CodeMirror pre.cm-mw-section-4 {font-weight: normal;}*/
/*// .CodeMirror pre.cm-mw-section-5 {font-weight: normal;}*/
/*// .CodeMirror pre.cm-mw-section-6 {font-weight: normal;}*/
/*// .CodeMirror .cm-mw-section-header {color: #08f; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-template {color: #a11; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-template-name {color: #a11; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-template-name-mnemonic {font-weight: normal;}*/
/*// .CodeMirror .cm-mw-template-argument-name {color: #a11; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-template-delimiter {color: #a11; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-template-bracket {color: #a11; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-templatevariable {color: #f50;  font-weight: normal;}*/
/*// .CodeMirror .cm-mw-templatevariable-name {color: #f50; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-templatevariable-bracket {color: #f50;  font-weight: normal;}*/
/*// .CodeMirror .cm-mw-templatevariable-delimiter {color: #f50; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-parserfunction {font-weight: normal;}*/
/*// .CodeMirror .cm-mw-parserfunction-name {color: #70a; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-parserfunction-bracket {color: #70a; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-parserfunction-delimiter {color: #70a; font-weight: normal;}*/
 /**/
/*// .CodeMirror pre.cm-mw-exttag {background-image: url(img/ext2.png);}*/
/*// .CodeMirror .cm-mw-exttag {background-image: url(img/ext4.png);}*/
/*// .CodeMirror .cm-mw-exttag-name {color: #70a; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-exttag-bracket {color: #70a; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-exttag-attribute {color: #70a; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-htmltag-name {color: #170; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-htmltag-bracket {color: #170; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-htmltag-attribute {color: #170; font-weight: normal;}*/
 /**/
/*// .CodeMirror pre.cm-mw-tag-pre, .cm-mw-tag-pre {background-image: url(img/black4.png);}*/
/*// .CodeMirror pre.cm-mw-tag-nowiki, .cm-mw-tag-nowiki {background-image: url(img/black4.png);}*/
 /**/
/*// .CodeMirror .cm-mw-link-pagename {color: #219; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-link-tosection {color: #08f; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-link-bracket {color: #219; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-link-text {}*/
/*// .CodeMirror .cm-mw-link-delimiter {color: #219; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-extlink, .cm-mw-free-extlink {color: #219; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-extlink-protocol, .cm-mw-free-extlink-protocol {color: #219; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-extlink-text {}*/
/*// .CodeMirror .cm-mw-extlink-bracket {color: #219; font-weight: normal;}*/
 /**/
/*// .CodeMirror .cm-mw-table-bracket {color: #e0e; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-table-delimiter {color: #e0e; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-table-definition {color: #e0e; font-weight: normal;}*/
/*// .CodeMirror .cm-mw-table-caption {font-weight: normal;}*/
.CodeMirror{
    font-family: inherit!important;
}
#msupload-div{
    background: #000!important;
}
#wikiEditor-section-advanced > div.group> .label{
    padding-top: 0!important;
}
#wikiEditor-section-characters{
    font-size: 12px;
}
.wikiEditor-toolbar-spritedButton{
    background: url("http://fs.huijiwiki.com/www/resources/assets/editor-icon.png");
}
#wikiEditor-section-main > div.group.group-format > a:nth-child(1){
    background-position:0 0px !important;
}
#wikiEditor-section-main > div.group.group-format > a:nth-child(2){
    background-position:0 -44px !important;
}
#wikiEditor-section-main > div.group.group-insert > a:nth-child(1){
    background-position:0 -88px !important;
}
#wikiEditor-section-main > div.group.group-insert > a:nth-child(2){
    background-position:0 -132px !important;
}
#wikiEditor-section-main > div.group.group-insert > a:nth-child(3){
    background-position:0 -176px !important;
}
#wikiEditor-section-advanced > div.group.group-format > a:nth-child(2){
    background-position:0 -394px !important;
}
#wikiEditor-section-advanced > div.group.group-format > a:nth-child(3){
    background-position:0 -440px !important;
}
#wikiEditor-section-advanced > div.group.group-format > a:nth-child(4){
    background-position:0 -484px !important;
}
#wikiEditor-section-advanced > div.group.group-format > a:nth-child(5){
    background-position:0 -528px !important;
}
#wikiEditor-section-advanced > div.group.group-size > a:nth-child(1){
    background-position:0 -572px !important;
}
#wikiEditor-section-advanced > div.group.group-size > a:nth-child(2){
    background-position:0 -616px !important;
}
#wikiEditor-section-advanced > div.group.group-size > a:nth-child(3){
    background-position:0 -660px !important;
}
#wikiEditor-section-advanced > div.group.group-size > a:nth-child(5){
    background-position:0 -704px !important;
}
#wikiEditor-section-advanced > div.group.group-insert > a:nth-child(2){
    background-position:0 -748px !important;
}
#wikiEditor-section-advanced > div.group.group-insert > a:nth-child(3){
    background-position:0 -792px !important;
}
#wikiEditor-section-advanced > div.group.group-insert > a:nth-child(6){
    background-position:0 -836px !important;
}
#wikiEditor-section-advanced > div.group.group-insert > a:nth-child(4){
    display: none !important;
}
#wikiEditor-section-advanced > div.group.group-search > a:nth-child(1){
    background-position:0 -924px !important;
}
.skin-BootstrapMediawiki .tool-button {
    background-position: 0px 0px !important;
}
