.recommend.owl-carousel{
    display: none !important;
}
.skin-BootstrapMediawiki .ve-ui-toolbar-floating > .oo-ui-toolbar-bar{
    z-index: 101;
}
.skin-BootstrapMediawiki .ve-ui-overlay-global{
	z-index: 200;
}
.skin-BootstrapMediawiki .ve-ui-mwSaveDialog-checkboxes {
	color:#333;
}
.skin-BootstrapMediawiki [contenteditable="true"]{
	color: inherit;
}