.recommend .recommend-item{
    display: inline-block;
    position: relative;
    margin-right: 20px;
    width: 140px;
    height: 200px;
    overflow: hidden;
}
.recommend-title{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.6);
    bottom: -25px;
    transition: all .2s ease;
}
.recommend .recommend-item a{
    display: block;
    color: #fff!important;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    cursor: inherit;
}
.recommend img{
    position: absolute;
    transition: all .2s ease;
    transform: translate3d(0px, 0px, 0px);
}
.recommend-header{
    clear: both;
}
.recommend-load{
    width: 140px;
    margin-top: 50px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    animation-name: fa-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*background: url(/resources/assets/preloader.gif) no-repeat center center*/
}
.recommend-load:before{
    content: "\f110";
    width: 100%;
    height: 100%;
    font-size: 5.0em;
    text-align: center;
    display: block;
    line-height: 100px;

}
.lazy-loading{
    min-height: 150px;
/*    background: url(../img/loading.gif) no-repeat center center*/
}
.recommend-title em {
    font-style: inherit;
}
.re-opacity{
    opacity: 0;
}
.recommend-title>a:first-child {
    font-size: 18px;
}
.recommend-title>a:last-child {
    padding-top: 5px;
}
.recommend-found-a{
    padding-top: 0;
}
.recommend-found-p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.recommend-item:hover img{
    transform: translate3d(0px, -10px, 0px);
}
.recommend-item:hover .recommend-title{
    bottom: 0;
}
@media screen and (max-width: 768px) {
    .recommend{
        padding-left: 0;
    }
    .recommend .recommend-item{
        margin-right: 5px;
    }
    .owl-carousel{
        display: block;
    }
}
@media screen and (max-width: 414px){
    #menu-toggle-sm {
        display: none;
        border: none;
        color: white;
        font-size: 30px;
        background-color: #333;
        z-index: 95;
        position: fixed;
        width: 50px;
        height: 50px;
        top: auto;
        bottom: 50px;
        right: 20px;
        transition: display 0.2s;
    }
    #toc {
        display: block !important;
        width: 250px !important;
        padding-left: 15px;
        padding-right: 15px;
        position: fixed;
        top: 0px;
        right: -250px;
        transition: right 0.2s;
        z-index: 96;
        overflow-x: hidden;
        overflow-y:auto;
        background-color: #333333;
        color: white;
        height: 100%;
    }
    #toc.open { right: 0%; }
    #content div.row article {
        right: 0px;
        transition: right 0.2s;
    }
    #content div.row article.open { right: 250px; }
    #bodyContent #toc > ul > li a { white-space: nowrap; }
    #bodyContent #toc ul li a {
        display: block;
        text-decoration: none;
    }
    #bodyContent #toc a { color: #FFF; }
    #bodyContent #toc li {
        height: auto;
        list-style-type: none;
    }
    #menu-toggle-sm.scroll{
        display: block;
    } 
}