*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-wj4jdb');
    src:url('../fonts/icomoon.eot?#iefix-wj4jdb') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-wj4jdb') format('woff'),
    url('../fonts/icomoon.ttf?-wj4jdb') format('truetype'),
    url('../fonts/icomoon.svg?-wj4jdb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}

.icon-books:before {
    content: "\e920";
}

.icon-folder-download:before {
    content: "\e933";
}

.icon-envelop:before {
    content: "\e945";
}

.icon-bubble:before {
    content: "\e96b";
}

.icon-bubbles:before {
    content: "\e96c";
}

.icon-bubble2:before {
    content: "\e96e";
}

.icon-user:before {
    content: "\e971";
}

.icon-spinner2:before {
    content: "\e97b";
}

.icon-search:before {
    content: "\e986";
}

.icon-happy:before {
    content: "\e9df";
}

.icon-happy2:before {
    content: "\e9e0";
}

.icon-smile:before {
    content: "\e9e1";
}

.icon-smile2:before {
    content: "\e9e2";
}

.icon-tongue:before {
    content: "\e9e3";
}

.icon-tongue2:before {
    content: "\e9e4";
}

.icon-sad:before {
    content: "\e9e5";
}

.icon-sad2:before {
    content: "\e9e6";
}

.icon-wink:before {
    content: "\e9e7";
}

.icon-wink2:before {
    content: "\e9e8";
}

.icon-grin:before {
    content: "\e9e9";
}

.icon-grin2:before {
    content: "\e9ea";
}

.icon-cool:before {
    content: "\e9eb";
}

.icon-cool2:before {
    content: "\e9ec";
}

.icon-angry:before {
    content: "\e9ed";
}

.icon-angry2:before {
    content: "\e9ee";
}

.icon-evil:before {
    content: "\e9ef";
}

.icon-evil2:before {
    content: "\e9f0";
}

.icon-shocked:before {
    content: "\e9f1";
}

.icon-shocked2:before {
    content: "\e9f2";
}

.icon-baffled:before {
    content: "\e9f3";
}

.icon-baffled2:before {
    content: "\e9f4";
}

.icon-confused:before {
    content: "\e9f5";
}

.icon-confused2:before {
    content: "\e9f6";
}

.icon-neutral:before {
    content: "\e9f7";
}

.icon-neutral2:before {
    content: "\e9f8";
}

.icon-hipster:before {
    content: "\e9f9";
}

.icon-hipster2:before {
    content: "\e9fa";
}

.icon-wondering:before {
    content: "\e9fb";
}

.icon-wondering2:before {
    content: "\e9fc";
}

.icon-sleepy:before {
    content: "\e9fd";
}

.icon-sleepy2:before {
    content: "\e9fe";
}

.icon-frustrated:before {
    content: "\e9ff";
}

.icon-frustrated2:before {
    content: "\ea00";
}

.icon-crying:before {
    content: "\ea01";
}

.icon-crying2:before {
    content: "\ea02";
}
body{
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
}
a:hover,a:focus,a:active{
    text-decoration: none;
}
.cleared{
    clear: both;
    padding: 0!important;
    border: 0!important;
    box-shadow: none!important;
}
.relative{
    position: relative;
}
.content-wrapper a:active,.content-wrapper a:focus,.content-wrapper a:visited{
    color:#fff;
}
.content-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #fff;
    z-index: 2;
    background-image:url(about:blank);
    background-attachment:fixed;
}
.head{
    background: url("/resources/frontpage/home-front-top.jpg");
    background-size: 100%;
    color: #fff;
}
.content-wrapper header{
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background: none;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}
/*.header-scroll header{*/
    /*background:rgba(0,0,0,.65);*/
/*}*/
/*.header-scroll .logo{*/
    /*width: 100px;*/
    /*top: 10px;*/
/*}*/
/*.header-scroll .login{*/
    /*top: 10px;*/
/*}*/
/*.header-scroll .login button{*/
    /*padding: 2px 20px;*/
/*}*/
.logo{
    width: 150px;
    position: absolute;
    left: 40px;
    top: 20px;
    transition: width .2s;
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -ms-transition: width .2s;
    -o-transition: width .2s;
}
.login{
    position: absolute;
    right: 150px;
    top: 20px;
}
.login>div{
    display: inline-block;
    border: 1px solid #fff;
    background: none;
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-right:50px;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    transition:all 0.2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.login>div a{
    color: #fff;
    transition:all 0.2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.login>div:hover{
    background: #fff;
    color: #333;
}
.login>div:hover a{
    color: #333;
}
.intro-container{
    height: 100%;
    width: 50%;
    margin: 0 auto;
}
.intro{
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 30%;
    text-align: center;
}
.intro p>span{
    font-size: 42px;
}
.intro p>span:first-child{
    margin-right: 100px;
}
.intro>span{
    display:block;
    width: 560px;
    height: 220px;
    border-radius:20px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    margin: 30px auto 0 auto;
    cursor: pointer;
    background: url("/resources/frontpage/huijilargelogo.png") no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0,0,0,.8);
    -webkit-transition : all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*.intro span:hover{*/
    /*background-color: #fff;*/
    /*color: #333;*/
/*}*/

.head-content{
    height: 300px;
}
.head-content{
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: 100;
    background: url("/resources/frontpage/home-front-firstline.gif") no-repeat;
    background-position: 50% 50%;
}
/*.head-content p{*/
    /*margin-top: 80px;*/
/*}*/
/*.head-content span{*/
    /*color: #09c;*/
/*}*/
/*.head-content h2{*/
    /*font-weight: 100;*/
    /*font-size:48px;*/
    /*margin-top: 10px;*/
    /*color: #c20c0c;*/
/*}*/
.perspectivebg{
    width: 100%;
    height:600px;
    position: relative;
}
.firstbg{
    background: url("/resources/frontpage/grey.gif") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: #fff;
}
.firstbg-intro{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -225px;
    margin-left: -225px;
    border-radius: 50%;
    background: url("/resources/frontpage/lotrlogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
}
.secondbg{
    background: url("/resources/frontpage/grey.gif");
    background-size: 100%;
    background-attachment: fixed;
}
.secondbg-intro{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -300px;
    border-radius: 20px;
    background: url("/resources/frontpage/asoiaflogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
}
.thirdbg{
    background: url("/resources/frontpage/grey.gif");
    background-size: 100%;
    background-attachment: fixed;
}
.thirdbg-intro{
    width: 600px;
    height: 200px;
    background:url("/resources/frontpage/spnlogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -300px;
}
.thirdbg-intro:before {
    content: "";
    position: absolute;
    top:0;
    left: -50px;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 50px solid rgba(0,0,0,.7);
}
.thirdbg-intro:after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 50px solid rgba(0,0,0,.7);
}
.fmain-content{
    width: 100%;
    height: 500px;
    position: relative;
}
.fmain-content-list{
    height: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -130px;
    margin-left: -570px;
}
.fmain-content-list li{
    float: left;
    width: 180px;
    text-align: center;
    padding: 40px 100px;
    box-sizing: content-box;
}
.fmain-content-list p{
    font-size: 18px;
}
.smain-content{
    width: 100%;
    height: 400px;
    background:url("/resources/frontpage/content-line1.png") no-repeat;
    background-position: center;
}
.content-bottom{
    width: 100%;
    height: 350px;
    /*background: #40bbe1;*/
}
.bottom-wrapper{
    margin: 10px auto;
    width: 800px;
}
.bottom-wrapper .bottom-intro{
    width: 450px;
    float: left;
    color: #333;
}
.bottom-intro h2{
    font-weight: 100;
    font-size: 48px;
    margin-top: 80px;
}
.bottom-intro p{
    font-size: 24px;
    margin-top: 20px;
}
.bottom-intro button{
    width: 200px;
    height: 100px;
    background: url("/resources/frontpage/qihuibutton.gif") no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    border: none;
    background-color: #09c;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    opacity: 0;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
    transition: all .5s ;
}
.content-bottom:hover .bottom-intro button{
    opacity: 1;
}
.bottom-wrapper .bottom-login{
    width: 350px;
    float: left;
}
.bottom-login form{
    float: right;
    margin-top: 50px;
    width: 220px;
}
.bottom-login input{
    width: 220px;
    /*height: 20px;*/
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #999;
    margin-bottom: 20px;
    font-size: 14px;
    background: #f9f9f9;
}
.bottom-login input:focus{
    background: #fff;
    border: 1px solid #09c;
}
.bottom-login .login-error{
    width: 200px;
    height: 20px;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #999;
    margin-bottom: 20px;
    background: rgba(225,0,0,.6);
    color: #fff;
    display: none;
}
.bottom-login .signup-submit{
    width: 220px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0099cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition:all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
}
body{
    /*-webkit-perspective:10000px;*/
    /*-webkit-perspective-origin:top right;*/
    /*background: url("/resources/frontpage/bg6.jpg");*/
    background:#000;
    background-size: 100%;

}
.home{
    transform:perspective(10000px) rotateY(180deg);
    -webkit-transform:perspective(10000px) rotateY(180deg);
    -moz-transform:perspective(10000px) rotateY(180deg);
    -o-transform:perspective(10000px) rotateY(180deg);
    -ms-transform:perspective(10000px) rotateY(180deg);
}

.content-wrapper{
    backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
}
.wrapper .back{
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.wiki-wrapper{
    transform:rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    background: #f9f9f9;
}

.wiki-wrapper{
    position:fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
}
.wiki-header{
    height: 60px;
    /*background-image:linear-gradient(to bottom,rgba(0,0,0,.9),#000);*/
    background: #333;
}
.wiki-header-wrapper{
    margin: auto;
    height:60px;
    background:url("/resources/frontpage/header.png");
    background-size: 100% 60px;
}
.home-wiki-logo img{
    height: 30px;
    margin: 15px 0;
}
.wiki-top{
    height: 567px;
    background: #000;
    overflow: hidden;
    position: relative;
}
.wiki-flog-wrap{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.wiki-flog-asoiaf-intro{
    width: 600px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -400px;
    border-radius: 20px;
    background: url("/resources/frontpage/asoiaflogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
    background-size: 90%;
}
.wiki-flog-lotr-intro{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -225px;
    margin-left: -325px;
    border-radius: 50%;
    background: url("/resources/frontpage/lotrlogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
    background-size: 90%;
}
.wiki-flog-spn-intro{
    width: 600px;
    height: 200px;
    background:url("/resources/frontpage/spnlogo.png") no-repeat;
    background-color: rgba(0,0,0,.7);
    background-position: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -450px;
    background-size: 90%;
}
.wiki-flog-spn-intro:before {
    content: "";
    position: absolute;
    top:0;
    left: -50px;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 50px solid rgba(0,0,0,.7);
}
.wiki-flog-spn-intro:after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 50px solid rgba(0,0,0,.7);
}
.wiki-flog-left{
    height: 100%;
    position: absolute;
    left: 0;
}
.wiki-flog-right{
    height: 100%;
    position: absolute;
    right: 0;
}
.wiki-flog-left img,.wiki-flog-right img{
    height: 100%;
}
.wiki-top-right{
    background-color: rgba(0,0,0,.6);
    height: 100%;
    width: 350px;
    position: absolute;
    right: 80px;
    top: 0;
    background-size: 100%;
    color: #fff;
}
.wiki-top-right img{
    width: 80%;
    margin: 80px 10% 0 10%;
}
.wiki-top-right h3{
    text-align: center;
}
.wiki-top-right ul{
    padding: 20px;
    margin: 20px;
    padding-top: 50px;
    border-top: 1px solid #fff;
}
.wiki-top-right li{
    width: 50%;
    float: left;
}
.wiki-top-right p{
    font-size: 32px;
}
.wiki-top-right h5{
    margin-bottom: 0;
}
.wiki-flog,.wiki-flog li{
    width:100%;
    height:100%;
    overflow: hidden;
}
.wiki-flog,.wiki-flog li img{
    height:100%;
    width:100%;
}
.previous{
    position: absolute;
    width: 50px;
    height: 80px;
    left: 20px;
    background: url("/resources/frontpage/previous.png") no-repeat;
    top:50%;
    border-radius: 50%;
    margin-top: -40px;
    cursor: pointer;
}
.next{
    position: absolute;
    width: 50px;
    height: 80px;
    right: 20px;
    background: url("/resources/frontpage/next.png") no-repeat;
    top:50%;
    margin-top: -40px;
    cursor: pointer;
}
.previous:hover,.next:hover{
    opacity: .8;
}

.wiki-content{
    width: 1400px;
    margin: 20px auto;
    position: relative;
    background: #f9f9f9;
}
.wiki-content-header{
    height: 280px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.wiki-content-header li{
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 280px;
    padding: 3px;
    padding-right: 0;
    box-shadow:-2px 0px 2px rgba(0,0,0,.5);
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    position: relative;
    overflow: hidden;
}
.wiki-content-header li div{
    width: 277px;
    height: 274px;
    color: #333;
}
.wiki-content-header .wiki-thumbnail{
    position: absolute;
}
.thumbnail-intro{
    position: relative;
    left: 277px;
    padding: 10px 20px;
}
.thumbnail-intro h4{
    margin-bottom: 0;
    font-weight: bold;
}
.thumbnail-intro h3{
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: bold;
}
.thumbnail-intro p{
    line-height: 1.8em;
}
.wiki-content-header .avatar1{
    background: url("/resources/frontpage/glorywiki.jpg") no-repeat;
    background-size: 100%;
}
.wiki-content-header .avatar2{
    background: url("/resources/frontpage/spnwiki.jpg") no-repeat;
    background-size: 100%;
}
.wiki-content-header .avatar3{
    background: url("/resources/frontpage/empirewiki.jpg") no-repeat;
    background-size: 100%;
}
.wiki-content-header .avatar4{
    background: url("/resources/frontpage/manorwiki.jpg") no-repeat;
    background-size: 100%;
}
.wiki-content-header .avatar5{
    background: url("/resources/frontpage/cfwiki.jpg") no-repeat;
    background-size: 100%;
}

.wikis-wrap{
    width: 1100px;
}
.wikis{
    -webkit-column-count:3;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari 和 Chrome */
    column-gap:40px;
    padding: 5px 0;
}
.wikis img{
    width: 100%;
    cursor: pointer;
}
/*.wikis>li>p{*/
    /*margin: 0;*/
    /*font-size: 18px;*/
    /*color: #909090;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*bottom: 5px;*/
    /*margin-left: 5px;*/
/*}*/
/*.wikis>li>span{*/
    /*font-size: 32px;*/
    /*color: #40bbe1;*/
    /*display: inline-block;*/
    /*margin-bottom: 20px;*/
/*}*/
.wikis>li{
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
@media screen and (max-width: 1023px) {
    .wikis>li{
        margin-bottom: 0;
    }
}
.wikis>li:before{
     content: '';
     display: block;
     padding-top: 3px;
 }
.wikis>li:after{
    content: '';
    display: block;
    padding-bottom: 10px;
}
.wikis .wiki-info{
    position: absolute;
    height: 110px;
    bottom: -60px;
    transition:all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    background:#f0f0f0;
    cursor: pointer;
    width: 100%;
    opacity: .8;
    overflow: hidden;
    text-overflow:ellipsis;
}
.wikis .wiki-entry{
    display:block;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    overflow: hidden;
    border: 1px solid #d0d0d0;
}
@media screen and (min-width: 1025px) {
    .wikis li:hover .wiki-info {
        bottom: 0;
        height: 100%;
    }
}
.wiki-info p{
    margin: 0;
}
.wiki-info .entry-header{
    background: #000;
    height: 50px;
    color: #fff;
    padding:5px 10px;
    text-align: center;
    font-weight: bold;
}
.wiki-info .entry-header>:first-child{
    font-size: 16px;
}
.wiki-info .entry-content{
    color: #333;
    padding: 10px;
}
.wiki-sidebar{
    position: absolute;
    right: 0;
    width: 299px;
    background: #f9f9f9;
    padding-left:10px;
    padding-top:10px;
}
.nav-tab{
    float: right;
    color: #09c;
}
.nav-tab li.active{
    color: #999;
}
.nav-tab li{
    display: inline-block;
    cursor: pointer;
}
.nav-tab li span{
    color: #999;
}
.chart{
    width: 100%;
    height: 30px;
    background: #e0e0e0;
    color: #333;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.top-fan-num{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    background: #40bbe1;
    color: #fff;
    margin-right: 5px;
}

.top-users .top-fan-row{
    padding-bottom: 10px;
    padding-top: 10px;
}
.wiki-sidebar .top-fan img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.wiki-sidebar .top-fan a{
    max-width: 100px;
    max-height: 20px;
    overflow: hidden;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    top: 5px;
}
.wiki-sidebar .top-fan-points{
    float: right;
    margin-top: 15px;
}
.navbar {
    position: relative;
}
.all-wiki{
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 24px;
}
.all-wiki:hover{
    color:#09c;
}
.all-wiki.act{
    color: #09c;
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .wiki-top {
        height: 405px;
    }
    .wiki-flog-wrap{
        width:1000px;
    }
    .wiki-top-right img{
        margin-top: 20px;
    }
    .wiki-top-right ul{
        margin-top: 0;
    }
    .wiki-top-right p{
        font-size: 24px;
        margin-bottom: 0;
    }
    .wiki-top-right{
        width: 300px;
    }
    .wiki-flog-asoiaf-intro {
        width: 400px;
        height: 160px;
        margin-top: -80px;
        margin-left: -360px;
    }
    .wiki-flog-lotr-intro {
        width: 300px;
        height: 300px;
        margin-top: -150px;
    }
    .wiki-flog-spn-intro{
        width: 400px;
        height: 160px;
        margin-top: -80px;
        margin-left: -360px;
    }
    .wiki-flog-spn-intro:before {
        left: -40px;
        border-top: 80px solid transparent;
        border-bottom: 80px solid transparent;
        border-right: 40px solid rgba(0,0,0,.7);
    }
    .wiki-flog-spn-intro:after {
        right: -40px;
        border-top: 80px solid transparent;
        border-bottom: 80px solid transparent;
        border-left: 40px solid rgba(0,0,0,.7);
    }
    .wiki-content {
        width: 1000px;
    }
    .wikis-wrap{
        width: 750px;
    }
    .wiki-sidebar {
        width: 250px;
    }
    .wiki-sidebar .top-fan a {
        max-width: 60px;
    }
    .wiki-content-header,.wiki-content-header li {
        height: 204px;
    }
    .thumbnail-intro {
        left: 197px;
    }
    .thumbnail-intro h4{
        font-size: 16px;
    }
    .thumbnail-intro h3{
        font-size: 22px;
    }
    .thumbnail-intro p {
        line-height: 1.2em;
    }
    .wiki-content-header li div {
        width: 197px;
        height: 201px;
    }
}
@media screen and (max-width: 1200px) {
    .content-wrapper{
        display: none;
    }
    .wrapper .back{
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    .wiki-wrapper{
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        position: static;
    }
    .wrapper{
        position: static;
    }
    body{
        position: static;
    }
}
@media screen and (max-width: 999px) {
    .wiki-top{
        display: none;
    }
    .wiki-content-header{
        display: none;
    }
    .wiki-sidebar{
        display: none;
    }
    .wiki-content{
        width: 100%;
        padding:0 5px;
    }
    .wikis-wrap{
        width: 100%;
    }
    .wikis{
        -webkit-column-count:2;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap:10px; /* Firefox */
        -webkit-column-gap:10px; /* Safari 和 Chrome */
        column-gap:10px;
    }
}