@import "HuijiColor.less";
@import "SiteColor.less";
@import "mixinscolor.less";
.a() when (lightness(@main-base)>50%){
  @main-darker:darken(@main-base, 0.135*lightness(@main-base));
  @main-dark:darken(@main-base, 0.2*lightness(@main-base));
  @main-middle:darken(@main-base, 0.335*lightness(@main-base));
  @main-light:darken(@main-base, 0.467*lightness(@main-base));
  @main-lighter:darken(@main-base, 0.75*lightness(@main-base));
}
.a() when (lightness(@main-base)=<50%){
  @main-darker:lighten(@main-base, 0.135*(100 - lightness(@main-base)));
  @main-dark:lighten(@main-base, 0.2*(100 - lightness(@main-base)));
  @main-middle:lighten(@main-base, 0.335*(100 - lightness(@main-base)));
  @main-light:lighten(@main-base, 0.467*(100 - lightness(@main-base)));
  @main-lighter:lighten(@main-base, 0.75*(100 - lightness(@main-base)));
}

.mixin (@n) when (lightness(@n) >= 50%) {
  background-color: darken(@n, 10%);
}
.mixin (@n) when (lightness(@n) < 50%) {
  background-color: lighten(@n, 10%);
}

.mixin2 (@n) when (lightness(@n) >= 50%) {
  background-color: difference(lighten(@n, 10%), #111);
}
.mixin2 (@n) when (lightness(@n) < 50%) {
  background-color: difference(lighten(@n, 10%), #111);
}
.a();
.huiji-css-hook {
  background-color: @bg;

  a {
    color: @a;
    &:hover{
      color: darken(@a, 15%);
    }
  }

  .toc-sidebar li {
    a {
      color: @main-lighter;
      &:hover {
        color: lighten(@a, 10%);
        border-color: lighten(@a, 10%);
      }
    }
    &.active > a {
      color: lighten(@a, 10%);
      border-color: lighten(@a, 10%);
    }
  }

  .subnav{
    background-color: @sub-bg;
    .nav>li>a{
      color: @sub-a;
      &:hover,&:active,&:focus{
        background-color: difference( @sub-bg , #111);
      }
    }
    .nav .open>a{
      background-color: difference( @sub-bg , #111);
    }
    .site-count{
      color: @sub-a;
      a{
        color: difference( @sub-bg , #fff);
      }
    }
    .nav .dropdown> a{
      @media (max-width: 767px){
        background-color: @sub-bg;
      }
    }
  }

  #wiki-body{
    background-color: @bg-inner;
    color: @main-base;

    .secondary{
      color: @main-lighter;
    }

    .new{
      color: #999;
    }

    span,div,ul,li,blockquote,table{
      border-color: @main-lighter;
    }

    .border-darker{
      border-color: @main-light;
    }

    #contentSub{
      color: @main-middle;
    }
  }

  .bottom{
    .mixin(@bg-inner);
    color: @main-darker;
  }

  blockquote{
    .mixin(@bg-inner);
  }

  .nav-box,.wiki-table,.info-box{
    .mixin(@bg-inner);
    tr,td{
      border-color: @main-lighter;
    }
  }



  .table-stripe{
    tr:nth-child(odd){
      .mixin2(@bg-inner)
    }
  }
  @import "module.less";
}

