//@import "HuijiColor.less";
//@import "mixinscolor.less";
//@import "SiteColor.less";
//@brand-default:         #ffffff;
//@brand-primary:         #337ab7;
//@brand-success:         #5cb85c;
//@brand-info:            #5bc0de;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;

@btn-default-color:              #333;
@btn-default-bg:                 @brand-default;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

.a() when (lightness(@main-base)>50%){
  @main-darker:darken(@main-base, 0.135*lightness(@main-base));
  @main-dark:darken(@main-base, 0.2*lightness(@main-base));
  @main-middle:darken(@main-base, 0.335*lightness(@main-base));
  @main-light:darken(@main-base, 0.467*lightness(@main-base));
  @main-lighter:darken(@main-base, 0.75*lightness(@main-base));
}
.a() when (lightness(@main-base)=<50%){
  @main-darker:lighten(@main-base, 0.135*(100 - lightness(@main-base)));
  @main-dark:lighten(@main-base, 0.2*(100 - lightness(@main-base)));
  @main-middle:lighten(@main-base, 0.335*(100 - lightness(@main-base)));
  @main-light:lighten(@main-base, 0.467*(100 - lightness(@main-base)));
  @main-lighter:lighten(@main-base, 0.75*(100 - lightness(@main-base)));
}

.mixin (@n) when (iscolor(@n)) {
  & when (lightness(@n) >= 50%) {
  background-color: darken(@n, 10%);
}
  & when (lightness(@n) < 50%) {
    background-color: lighten(@n, 10%);
  }
}

.mixin2 (@n) when (iscolor(@n)) {
  & when (lightness(@n) >= 50%) {
  background-color: difference(darken(@n, 10%), #111);
}
  & when (lightness(@n) < 50%) {
    background-color: difference(lighten(@n, 10%), #111);
  }
}

.diff (@n) when (iscolor(@n)) {
  background-color: difference(@n, #fff);
}

.bg(@n) when(iscolor(@n)){
   background-color: @n;
}
.color(@n) when(iscolor(@n)){
  color: @n;
}
.link(@n) when(iscolor(@n)){
  color: @n;
  &:hover{
    color: darken(@n, 15%);
  }
}
.border-color(@n) when(iscolor(@n)){
  border-color:@n;
}
.primary{
  background-color: @brand-primary;
}
.darken{
  .mixin(@bg-inner);
  .mixin(@detail-inner-bg);
}
.quite{
  color: inherit;
  background-color: inherit;
  &:hover{
    color: inherit;
  }
}
.no-border{
  border-color: transparent!important;
  border: 0;
}
[class^="icon-lv"], [class*=" icon-lv"]{
  color: @main-base;
  .color(@detail-color);
}
//.btn-default {
//  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
//}
//.btn-primary {
//  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
//}
//// Success appears as green
//.btn-success {
//  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
//}
//// Info appears as blue-green
//.btn-info {
//  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
//}
//// Warning appears as orange
//.btn-warning {
//  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
//}
//// Danger and error appear as red
//.btn-danger {
//  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
//}
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: darken(@background, 10%);
    border-color: darken(@border, 25%);
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
    border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
    border-color: darken(@border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 17%);
      border-color: darken(@border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.a();

input,textarea,select,option{
  color: #333;
}
a {
  color: @a;
  &:hover{
    color: darken(@a, 15%);
  }
  .link(@detail-a);
}
span,div,ul,li,blockquote,table,legend,header{
  border-color: @main-lighter;
  .border-color(@detail-border);
}
.popover{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  color: @main-base;
  .color(@detail-color);
  &.left > .arrow:after{
    border-left-color: @bg-inner;
    border-left-color: @detail-inner-bg;
  }
  &.right > .arrow:after{
    border-right-color: @bg-inner;
    border-right-color: @detail-inner-bg;
  }
  &.top > .arrow:after{
    border-top-color: @bg-inner;
    border-top-color: @detail-inner-bg;
  }
  &.bottom > .arrow:after{
    border-bottom-color: @bg-inner;
    border-bottom-color: @detail-inner-bg;
  }
  .popover-title{
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
  }
}
.thumb{
  .mixin(@bg-inner);
  .mixin(@detail-inner-bg);
}
.cod-comment{
  .mixin2(@a);
  .mixin2(@detail-a);
  a{
    color: @main-base;
    .color(@detail-color);
  }
}
td.diff-context{
  .mixin(@bg-inner);
  .mixin(@detail-inner-bg);
  border-color: @brand-primary;
}
td.diff-addedline .diffchange{
  display: block;
  .diff(@bg-inner);
  .diff(@detail-inner-bg);
  color: @main-base;
  .color(@detail-color);
}
td.diff-addedline{
  border-color: @brand-success;
}
td.diff-deletedline{
  border-color: @brand-danger;
}
td.diff-marker{
  border-color: @brand-info;
}

#rating_{
  .color(@detail-vote-color);
  .rating-score{
    .bg(@detail-vote-score-bg);
    .color(@detail-vote-score-color);
  }
  .vote-rating-star:before{
    .color(@detail-vote-star);
  }
  .voted:before{
    .color(@detail-vote-active-star);
  }
}
#wiki-outer-body fieldset#mw-searchoptions{
  .mixin(@bg-inner);
  .mixin(@detail-inner-bg);
}
.oo-ui-window-frame{
  background-color: @bg-inner;
  .bg(@detail-bg);
  color: @main-base;
  .color(@detail-color);
}
.huiji-css-hook {
  background-color: @bg;
  .bg(@detail-bg);
  .toc-sidebar li {
    a {
      color: @main-light;
      .color(@detail-toc-a);
      &:hover {
        color: lighten(@a, 10%);
        .color(@detail-toc-a-hover);
        border-color: lighten(@a, 10%);
        .border-color(@detail-toc-a-hover)
      }
    }
    &.active > a {
      color: lighten(@a, 10%);
      .color(@detail-toc-a-hover);
      border-color: lighten(@a, 10%);
      .border-color(@detail-toc-a-hover)
    }
  }
  .subnav {
    background-color: @sub-bg;
    .bg(@detail-sub-bg);
    .nav > li > a {
      color: @sub-a;
      .color(@detail-sub-a);
      &:hover, &:active, &:focus {
        background-color: difference(@sub-bg , #111);
        .bg(@detail-sub-a-hover-bg);
      }
    }
    .nav .open > a {
      background-color: difference(@sub-bg , #111);
      .bg(@detail-sub-a-hover-bg);
    }
    .site-count {
      color: @sub-a;
      .color(@detail-sub-a);
      a {
        color: difference(@sub-bg , #fff);
        .color(@detail-sub-site-count);
      }
    }
    //    .nav .dropdown{
    .dropdown-menu {
      background-color: difference(@sub-bg , #111);
      .bg(@detail-sub-a-hover-bg);
      a {
        color: @sub-a;
        .color(@detail-sub-a);
        &:hover {
          background-color: @sub-bg;
          .bg(@detail-sub-bg);
        }
      }
    }
    //    }
    .nav .dropdown > a {
      @media (max-width: 767px) {
        background-color: @sub-bg;
        .bg(@detail-sub-bg);
      }
    }
  }

  .color-picker {
    background-color: @bg-inner;
  }
  #wiki-body {
    background-color: @bg-inner;
    .bg(@detail-inner-bg);
    color: @main-base;
    .color(@detail-color);

    .bdsharebuttonbox a {
      background-color: @a;
      .bg(@detail-a);
      color: #fff;
    }
  }
  .base {
    color: @main-base;
    .color(@detail-color);
  }
  .secondary {
    color: @main-lighter;
    .color(@detail-secondary);
  }

  .new {
    color: #999;
    .color(@detail-new);
    &:hover{
      color: darken(#999, 10%);
    }
  }

  h1 {
    .color(@detail-h1);
  }
  h2 {
    .color(@detail-h2);
  }
  h3 {
    .color(@detail-h3);
  }
  h4 {
    .color(@detail-h4);
  }
  h5 {
    .color(@detail-h5);
  }

  .border-darker {
    border-color: @main-light;
  }

  #contentSub {
    color: @main-middle;
    .color(@detail-contentsub);
  }

  .caret {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: initial;
  }
  .carousel-control {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  .bottom.footer {
    .mixin(@bg-inner);
    .bg(@detail-bottom-bg);
    color: @main-darker;
    .color(@detail-bottom-color);
  }

  blockquote {
    .mixin(@bg-inner);
    .bg(@detail-quote-bg);
    .color(@detail-quote-color);
    .border-color(@detail-quote-border);
    a {
      .link(@detail-quote-a);
    }
  }

  .wikitable, {
    .mixin(@bg-inner);
    .bg(@detail-wikitable-bg);
    .color(@detail-wikitable-color);
    a {
      .link(@detail-wikitable-a);
    }
    tr, td {
      border-color: @main-lighter;
      .border-color(@detail-wikitable-border)
    }
  }

  .table-stripe {
    tr:nth-child(odd) {
      .mixin2(@bg-inner)
    }
  }
  .infobox {
    width: 300px;
    background-color: @modal;
    .bg(@detail-infobox-bg);
    font-size: 1.2rem;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 1px;
    color: difference(@modal, #fff);
    .color(@detail-infobox-color);
    a {
      .color(@detail-infobox-a);
    }
    th, td {
      border-bottom-color: difference(@modal, #111);
      .border-color(@detail-infobox-border);
    }
    .infobox-img {
      text-align: center;
      font-size: 1.25em;
      font-weight: bold;
      padding: 0;
    }
    .infobox-title {
      padding: 5px 8px;
      .bg(@detail-infobox-title-bg);
      .color(@detail-infobox-title-color);
      th {
        font-size: 16px;
        text-align: center;
      }
      //        &.large-title th{
      //          text-align:center;
      //          b {
      //            font-size: 24px;
      //          }
      //        }
      //        td{
      //          text-align: right;
      //          img{
      //            display: inline-block;
      //          }
      //        }
    }
    .infobox-item-title th {
      text-align: center;
      padding: 4px;
      background-color: difference(@modal, #111);
      .bg(@detail-infobox-item-title-bg);
      .color(@detail-infobox-item-title-color);
    }
    .infobox-item-label {
      padding: 8px;
      width: 70px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .bg(@detail-infobox-item-label-bg);
      .color(@detail-infobox-item-label-color);
      .border-color(@detail-infobox-item-label-border);
      //        border-bottom-color:
      &.no-border {
        border-bottom-color: transparent;
      }
    }
    .infobox-item-detail {
      padding: 8px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .bg(@detail-infobox-item-detail-bg);
      .color(@detail-infobox-item-detail-color);
      a {
        .color(@detail-infobox-item-detail-a);
      }
      .border-color(@detail-infobox-item-detail-border);
      &.no-border {
        border-bottom-color: transparent;
      }
    }
  }

  .navbox {
    background-color: @modal;
    .bg(@detail-navbox-bg);
    font-size: 1.2rem;
    border-collapse: separate;
    //    border-width: 1px;
    //    border-style: solid;
    //    width: 100%;
    //    margin: auto;
    //    clear: both;
    //    font-size: 0.88em;
    //    padding: 1px;
    //    margin-top: 10px;
    color: difference(@modal, #fff);
    .color(@detail-navbox-color);
    a {
      .link(@detail-navbox-a);
    }
    //    tr{
    //      border-bottom-width: 1px;
    //      border-bottom-style: solid;
    //      border-bottom-color:  difference(@modal, #111);
    //      .border-color(@detail-navbox-border);
    //    }
    //    td{
    //      padding: 0;
    //    }
    .navbox-title {
      //      padding: 8px;
      //      font-size: 16px;
      //      text-align: center;
      background-color: difference(@modal, #111);
      .bg(@detail-navbox-title-bg);
      .color(@detail-navbox-title-color);
      a {
        //        margin: 0 5px;
        .link(@detail-navbox-title-a);
      }
    }
    //    .mw-collapsible-toggle{
    //      text-align: right;
    //      cursor: pointer;
    //      float: right;
    //    }
    .navbox-group {
      //      width: 150px;
      background-color: lighten(@modal, 10%);
      .bg(@detail-navbox-group-bg);
      .color(@detail-navbox-group-color);
      //      white-space: nowrap;
      //      text-align: center;
      //      padding: 8px;
      a {
        .link(@detail-navbox-group-a);
      }
    }
    .navbox-list {
      .bg(@detail-navbox-list-bg);
      .color(@detail-navbox-list-color);
      a:not(.new) {
        .link(@detail-navbox-list-a);
      }
      .new {
        .link(@detail-navbox-list-new);
      }
      &.navbox-even {
        .bg(@detail-navbox-list-even-bg);
      }
      &.navbox-odd {
        .bg(@detail-navbox-list-odd-bg);
      }
    }
    //    .navbox-list{
    //      padding: 8px;
    //      a{
    //        margin: 0 5px;
    //      }
    //    }
    .navbox-abovebelow {
      //      padding: 8px;
      //      text-align: center;
      background-color: difference(@modal, #111);
      .bg(@detail-navbox-abovebelow-bg);
      .color(@detail-navbox-abovebelow-color);
      a {
        //        margin: 0 5px;
        .link(@detail-navbox-abovebelow-a);
      }
    }
    .navbox-border td {
      background: rgba(0, 0, 0, .5);
    }
  }

  .btn-default {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }
  .btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
  // Success appears as green
  .btn-success {
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }
  // Info appears as blue-green
  .btn-info {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  }
  // Warning appears as orange
  .btn-warning {
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  }
  // Danger and error appear as red
  .btn-danger {
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }

  table.navbox-subgroup {
    border-collapse: separate;
    border-spacing: 2px;
  }
}

body .mwe-popups{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  .mwe-popups-extract{
    color: @main-base;
    .color(@detail-color);
  }
  &> div > div.mwe-popups-timestamp-older{
    color: @main-base;
    .color(@detail-color);
  }
  &.mwe-popups-fade-in-down:after{
    border-top-color: @bg-inner;
    border-top-color: @detail-inner-bg;
  }
  &.mwe-popups-fade-in-up:after{
    border-bottom-color: @bg-inner;
    border-bottom-color: @detail-inner-bg;
  }
}
.user-card{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  color: @main-base;
  .color(@detail-color);
  border-color: @main-lighter;
  .border-color(@detail-border);
  .user-card-top{
    background-color: @a;
    .bg(@detail-a);
  }
  .user-card-info span,.user-card-info p,.user-card-info a{
    color: @bg-inner;
    .color(@detail-inner-bg);
  }
  .user-card-msg .user-card-follow,.user-card-msg .user-card-gift{
    background-color: @bg-inner;
    .bg(@detail-inner-bg);
    color: @main-base;
    .color(@detail-color);
  }
}
.gift-wrap{
  a{
    color:@a;
    .color(@detail-border);
  }
}
//.user-card
