@import "mixins.less";

@btn-default-color:              #333;
@btn-default-bg:                 @brand-default;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

/** 
 * Self created helper method 
 * these method should stay consistent as they may be frequently used by users
 **/
.primary{
  background-color: @brand-primary;
}
.darken{
  .mixin(@bg-inner);
  .mixin(@detail-inner-bg);
}
.lighten{
  .mixin2(@bg-inner);
  .mixin2(@detail-inner-bg);
}
.text-primary{
  color: @brand-primary;
}
.text-success{
  color: @brand-success;
}
.text-info{
  color: @brand-info;
}
.text-danger{
  color: @brand-danger;
}
.text-warning{
  color: @brand-warning;
}
.bg-primary{
  background-color: @brand-primary;
}
.bg-success{
  background-color: @brand-success;
}
.bg-info{
  background-color: @brand-info;
}
.bg-warning{
  background-color: @brand-warning;
}
.bg-danger{
  background-color: @brand-danger;
}
.border-primary{
  border-color: @brand-primary;
}
.border-success{
  border-color: @brand-success;
}
.border-info{
  border-color: @brand-info;
}
.border-warning{
  border-color: @brand-warning;
}
.border-danger{
  border-color: @brand-danger;
}
//.semantic(@style,@)
.no-border{
  border-color: transparent!important;
  border: 0;
}

.a();

input,textarea,select,option{
  color: #333;
}
span,div,ul,li,a,table,legend,header{
  border-color: @main-lighter;
  .border-color(@detail-border);
}
legend,.secondary,.autocomment{
  .secondary();
}
a {
  color: @a;
  &:hover{
    color: darken(@a, 15%);
  }
  .link(@detail-a);
}
.popover{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  color: @main-base;
  .color(@detail-color);
  &.left > .arrow:after{
    border-left-color: @bg-inner;
    border-left-color: @detail-inner-bg;
  }
  &.right > .arrow:after{
    border-right-color: @bg-inner;
    border-right-color: @detail-inner-bg;
  }
  &.top > .arrow:after{
    border-top-color: @bg-inner;
    border-top-color: @detail-inner-bg;
  }
  &.bottom > .arrow:after{
    border-bottom-color: @bg-inner;
    border-bottom-color: @detail-inner-bg;
  }
  .popover-title{
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
  }
}
.huiji-css-hook {
  background-color: @bg;
  .bg(@detail-bg);
  .toc-sidebar li {
    a {
      color: @main-light;
      .color(@detail-toc-a);
      &:hover {
        color: lighten(@a, 10%);
        .color(@detail-toc-a-hover);
        border-color: lighten(@a, 10%);
        .border-color(@detail-toc-a-hover)
      }
    }
    &.active > a {
      color: lighten(@a, 10%);
      .color(@detail-toc-a-hover);
      border-color: lighten(@a, 10%);
      .border-color(@detail-toc-a-hover)
    }
  }
  .subnav {
    background-color: @sub-bg;
    .bg(@detail-sub-bg);
    .nav > li > a {
      color: @sub-a;
      .color(@detail-sub-a);
      &:hover, &:active, &:focus {
        background-color: difference(@sub-bg , #111);
        .bg(@detail-sub-a-hover-bg);
      }
    }
    #subnav-toggle{
      color: @sub-a;
      .color(@detail-sub-a);
    }
    .nav .open > a {
      background-color: difference(@sub-bg , #111);
      .bg(@detail-sub-a-hover-bg);
    }
    .site-count {
      color: @sub-a;
      .color(@detail-sub-a);
      a {
        color: difference(@sub-bg , #fff);
        .color(@detail-sub-site-count);
      }
    }
    //    .nav .dropdown{
    .dropdown-menu {
      background-color: difference(@sub-bg , #111);
      .bg(@detail-sub-a-hover-bg);
      a {
        color: @sub-a;
        .color(@detail-sub-a);
        &:hover {
          background-color: @sub-bg;
          .bg(@detail-sub-bg);
        }
      }
    }
    //    }
   [class^="icon-lv"],[class*=" icon-lv"]{
      color: @main-base;
      .color(@detail-color);
    }

    @media (max-width: 767px){
      .nav .dropdown > a {
        background-color: @sub-bg;
        .bg(@detail-sub-bg);
      }
      .nav .dropdown{
        background-color: @sub-bg;
        .bg(@detail-sub-bg);
        &.phone-active>a{
          background-color: difference(@sub-bg , #111);
          .bg(@detail-sub-a-hover-bg);
          color: @sub-a;
          .color(@detail-sub-a);
        }
      }
    }
  }
  .empty-message{
      padding: 5px;
      margin: 40px;
      text-align: center;
      .secondary();
      font-size: 1.8em;
  }
  .empty-message-small{
    .empty-message();
    font-size: 1em;
  }
  .color-picker {
    background-color: @bg-inner;
  }
  #wiki-body {
    background-color: @bg-inner;
    .bg(@detail-inner-bg);
    color: @main-base;
    .color(@detail-color);

    .bdsharebuttonbox a {
      background-color: @a;
      .bg(@detail-a);
      color: #fff;
    }
  }
  .base {
    color: @main-base;
    .color(@detail-color);
  }

  .new {
    color: #999;
    .color(@detail-new);
    &:hover{
      color: darken(#999, 10%);
    }
  }

  h1 {
    .color(@detail-h1);
  }
  h2 {
    .color(@detail-h2);
  }
  h3 {
    .color(@detail-h3);
  }
  h4 {
    .color(@detail-h4);
  }
  h5 {
    .color(@detail-h5);
  }

  .border-darker {
    border-color: @main-light;
  }

  #contentSub {
    color: @main-middle;
    .color(@detail-contentsub);
  }

  .caret {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: initial;
  }
  .carousel-control {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  .bottom.footer {
    background: @well;
    .bg(@detail-bottom-bg);
    color: @main-darker;
    .color(@detail-bottom-color);
  }

  blockquote {
    background: @well;
    .bg(@detail-quote-bg);
    .color(@detail-quote-color);
    .border-color( darken(@well, 7%));
    .border-color( mixin(@detail-quote-bg) );
    a {
      .link(@detail-quote-a);
    }
  }

  .wikitable, .mw-datatable, .smwb-factbox, .smwb-ifactbox, .smwb-ipropvalue, .smwtable, .mw-json, .property-page-results{
    background-color: @well;
    .bg(@detail-wikitable-bg);
    color: @main-base;
    .color(@detail-wikitable-color);
    a {
      .link(@detail-wikitable-a);
    }
    tr, td, th {
      border: 1px @bg-inner solid;
      //border-color: @bg-inner;
      .border-color(@detail-wikitable-border);
    }
    th{
      .bg(@detail-wikitable-th-bg);
    }
  }
  tr.smwb-ipropvalue{
    &, & td{
      .mixin(@bg-inner);
      .mixin(@detail-wikitable-bg);      
    }
    th{
      .mixin(@bg-inner);
      .mixin(@detail-wikitable-th-bg);
    }
  }
  .mw-json th{
    .bg-compute-text(@brand-primary);
    .bg-compute-text(@detail-wikitable-th-bg);
  }
  .mw-json .value, .mw-json-single-value {
    .bg-compute-text(@brand-info);
    .bg-compute-text(@detail-wikitable-bg);
  }
  .alt-table, .darktable, .table-dark {
    .alt-bg( @well ) ; 
    .alt-bg( @detail-wikitable-bg );
    .alt-color( @main-base );
    .alt-color( @detail-wikitable-a ) ;
    a {
      .alt-color( @detail-wikitable-a );
    }
    tr, td, th {
      .alt-border(@bg-inner);
      .alt-border( @detail-wikitable-border );
    }
    th {
      .alt-bg( @detail-wikitable-th-bg );
    }
  }
  .infobox {
    width: 300px;
    background-color: @modal;
    .bg(@detail-infobox-bg);
    font-size: 1.4rem;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    // border-width: 1px;
    // border-style: solid;
    // border-collapse: separate;
    // border-spacing: 1px;
    color: difference(@modal, #fff);
    .color(@detail-infobox-color);
    a {
      .color(@detail-infobox-a);
    }
    th, td {
      border-bottom-color: difference(@modal, #111);
      .border-color(@detail-infobox-border);
    }
    .infobox-img {
      text-align: center;
      font-size: 1.25em;
      font-weight: bold;
      padding: 0;
    }
    .infobox-title {
      padding: 5px 8px;
      background-color: @brand-primary;
      .bg(@detail-infobox-title-bg);
      .color(@detail-infobox-title-color);
      th {
        font-size: 16px;
        text-align: center;
      }
      a {
        .link(@bg-inner);
        .link(@detail-infobox-title-a);
      }
      //        &.large-title th{
      //          text-align:center;
      //          b {
      //            font-size: 24px;
      //          }
      //        }
      //        td{
      //          text-align: right;
      //          img{
      //            display: inline-block;
      //          }
      //        }
    }
    .infobox-item-title th, .infobox-header th {
      text-align: center;
      padding: 8px;
      background-color: @brand-primary;
      text-align: center;
      a {
        .link(@bg-inner);
        .link(@detail-infobox-header-a);
      }
      .bg(@detail-infobox-item-title-bg);
      .color(@detail-infobox-item-title-color);

    }
    .infobox-item-label, .infobox-label {
      padding: 8px;
      width: 70px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .bg(@detail-infobox-item-label-bg);
      .color(@detail-infobox-item-label-color);
      .border-color(@detail-infobox-item-label-border);
      //        border-bottom-color:
      &.no-border {
        border-bottom-color: transparent;
      }
    }
    .infobox-item-detail, .infobox-data {
      padding: 8px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .bg(@detail-infobox-item-detail-bg);
      .color(@detail-infobox-item-detail-color);
      a {
        .color(@detail-infobox-item-detail-a);
      }
      .border-color(@detail-infobox-item-detail-border);
      &.no-border {
        border-bottom-color: transparent;
      }
    }
  }

  .navbox {
    background-color: @modal;
    .bg(@detail-navbox-bg);
    font-size: 1.4rem;
    border-collapse: separate;
    color: difference(@modal, #fff);
    .color(@detail-navbox-color);
    @media screen and (max-width: 768px){
      margin:1em;
    }
    a {
      .link(@detail-navbox-a);
    }
    .navbox-title {
      background-color: @brand-primary;
      color: @bg-inner;
      .bg(@detail-navbox-title-bg);
      .color(@detail-navbox-title-color);
      a {
        .link(@bg-inner);
        .link(@detail-navbox-title-a);
      }
    }
    .navbox-group {
      color: difference(@modal, #fff);
      background-color: lighten(@modal, 10%);
      .bg(@detail-navbox-group-bg);
      .color(@detail-navbox-group-color);
      //      white-space: nowrap;
      //      text-align: center;
      //      padding: 8px;
      a {
        .link(@detail-navbox-group-a);
      }
    }
    .navbox-list {
      color: difference(@modal, #fff);
      .bg(@detail-navbox-list-bg);
      .color(@detail-navbox-list-color);
      a:not(.new) {
        .link(@detail-navbox-list-a);
      }
      .new {
        .link(@detail-navbox-list-new);
      }
      &.navbox-even {
        .bg(@detail-navbox-list-even-bg);
      }
      &.navbox-odd {
        .bg(@detail-navbox-list-odd-bg);
      }
    }
    //    .navbox-list{
    //      padding: 8px;
    //      a{
    //        margin: 0 5px;
    //      }
    //    }
    .navbox-abovebelow {
      //      padding: 8px;
      //      text-align: center;
      background-color: difference(@modal, #111);
      .bg(@detail-navbox-abovebelow-bg);
      .color(@detail-navbox-abovebelow-color);
      a {
        //        margin: 0 5px;
        .link(@detail-navbox-abovebelow-a);
      }
    }
    .navbox-border td {
      background: rgba(0, 0, 0, .5);
    }
  }
  @media screen and (max-width: 768px) {
  /*navbox in small screen*/
      .navbox{
        margin:1em;
      }
      .navbox-group,.navbox-list  {
        border:none!important;
        width: 100%!important;
        font-size: 14px!important;
        display: block!important;
        padding: 0.5em!important;
      }
      .nav-div{
        padding:0.5em!important;
      }
      .navbox-title{
        text-align: center!important;
        font-size: 14px!important;
        font-weight: normal!important;
        padding: 0.5em!important;
      }
      .navbox-subgroup {
        width: 100%!important;
        font-weight: normal!important;
      }
      td.navbox-abovebelow {
          padding: 0.5em 0px 0px 1em!important;
          font-size: 14px!important;
      }
  }

  .poll-wrap{
    .poll-choice-votes{
      color: #fff;
    }
  }
  .view-poll-row:hover,.view-poll-row-bottom:hover {
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
  }
  .view-poll-user-name {
    color: @a;
    .link(@detail-a);
  }


  .btn-default {
    .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  }
  .btn-primary {
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
  // Success appears as green
  .btn-success {
    .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
  }
  // Info appears as blue-green
  .btn-info {
    .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  }
  // Warning appears as orange
  .btn-warning {
    .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
  }
  // Danger and error appear as red
  .btn-danger {
    .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
  }

  table.navbox-subgroup {
    border-collapse: separate;
    border-spacing: 2px;
  }
}

body .mwe-popups{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  .mwe-popups-extract{
    color: @main-base;
    .color(@detail-color);
  }
  &> div > div.mwe-popups-timestamp-older{
    color: @main-base;
    .color(@detail-color);
  }
  &.mwe-popups-fade-in-down:after{
    border-top-color: @bg-inner;
    border-top-color: @detail-inner-bg;
  }
  &.mwe-popups-fade-in-up:after{
    border-bottom-color: @bg-inner;
    border-bottom-color: @detail-inner-bg;
  }
}
.user-card{
  background-color: @bg-inner;
  .bg(@detail-inner-bg);
  color: @main-base;
  .color(@detail-color);
  border-color: @main-lighter;
  .border-color(@detail-border);
  .user-card-top{
    background-color: @a;
    .bg(@detail-a);
  }
  .user-card-info span,.user-card-info p,.user-card-info a{
    color: @bg-inner;
    .color(@detail-inner-bg);
  }
  .user-card-msg .user-card-follow,.user-card-msg .user-card-gift{
    background-color: @bg-inner;
    .bg(@detail-inner-bg);
    color: @main-base;
    .color(@detail-color);
  }
}


.well-np,.well, .panel{
  
  .bg-compute-text(@well);
  .well-np,.well, .panel-footer{
    .mixin(@well);
    .well-np,.well{
      .mixin(darken(@well, 7%));
    }
  }
}

.hj-media,.user-board-message,.c-item.hj-media-del{
  background: @well;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-width: 1px;
  border-style: solid;
  border-left-width: 10px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary, .quote-primary {
  border-left-color: @brand-primary;
}
.bs-callout-primary h4 {
  color: @brand-primary;
}
.bs-callout-success, .quote-success {
  border-left-color: @brand-success;
}
.bs-callout-success h4 {
  color: @brand-success;
}
.bs-callout-danger, .quote-danger {
  border-left-color: @brand-danger;
}
.bs-callout-danger h4 {
  color: @brand-danger;
}
.bs-callout-warning, .quote-warning {
  border-left-color: @brand-warning;
}
.bs-callout-warning h4{
  color: @brand-warning;
}
.bs-callout-info, .quote-info {
  border-left-color: @brand-info;
}
.bs-callout-info h4 {
  color: @brand-info;
}
.badge-ribbon {
  animation: glow 5s infinite;
  -webkit-animation: glow 5s infinite;
  -moz-animation: glow 5s infinite;
}
