//hack 内核里写死的border
.skin-BootstrapMediawiki{
  #catlinks #mw-normal-catlinks>ul>li{
    .hack-border-left(@main-lighter,@detail-border);
  }
  .catlinks  .edit-span{
    .hack-border(@main-lighter,@detail-border);
    .hack-border-left(@main-lighter,@detail-border);
  }
  .prefsection fieldset{
    .bg-compute-text(@well);
    padding:10px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #pagehistory li.selected{
    .bg-compute-text(@well)
  }
  .gift-wrap{
    a{
      color:@a;
      .color(@detail-border);
    }
  }
  .thumbinner, figure[typeof~='mw:Image/Thumb'], figure[typeof~='mw:Image/Frame'],figure[typeof*='mw:Image'] > figcaption{
    background-color: @modal ;
    border-color: @modal;
    border-radius: 0px;
    .compute-text(@modal);
  }
  .cod-comment{
    background: @well;
    a{
      color: @main-base;
      .color(@detail-color);
    }
  }
  td.diff-context{
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
    border-color: @brand-primary;
    color: inherit;
  }
  td.diff-addedline .diffchange,td.diff-deletedline .diffchange{
    display: block;
    .diff(@bg-inner);
    .diff(@detail-inner-bg);
  }
  td.diff-addedline{
    border-color: @brand-success;
  }
  td.diff-deletedline{
    border-color: @brand-danger;
  }
  td.diff-marker{
    border-color: @brand-info;
  }
  .quite{
    color: inherit;
    background-color: inherit;
    &:hover{
      color: inherit;
    }
  }
  #wiki-body [id^="rating_"]{
    color:@main-base;
    .color(@detail-vote-color);
    .rating-score{
      background-color:@brand-primary;
      .bg(@detail-vote-score-bg);
      color:@bg-inner;
      .color(@detail-vote-score-color);
    }
    .vote-rating-star:before{
      color:@brand-primary;
      .color(@detail-vote-star);
    }
    .on:before{
      color: lighten(@brand-primary, 10%);
      .lightencolor(@detail-vote-active-star);
    }
    .voted:before{
      color:@brand-primary;
      .color(@detail-vote-active-star);
    }
  }
  .wday,.month{
    fill:@main-base;
    .fill(@detail-color);
  }

  #wiki-outer-body fieldset#mw-searchoptions{
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
  }

  .profile-interactive .dropdown-menu{
    .mixin(@well);
    .compute-text(@well);
  }
  .ve-ui-mwSaveDialog-license {
    .compute-text(@well);
  }
  rect{
    &[data-depth="lowest"]{
      fill:#eee;
    }
    &[data-depth="low"]{
      fill:lighten(@brand-primary, 21%);
    }
    &[data-depth="normal"]{
      fill:lighten(@brand-primary, 14%);
    }
    &[data-depth="high"]{
      fill:lighten(@brand-primary, 7%);
    }
    &[data-depth="highest"]{
      fill: @brand-primary;
    }
  }
  div.mw-number-text{
    color: @main-light; 
  }
  #bodyContent div.mw-number-text h3{
    color: @main-darker; 
  }
  .mw-echo-ui-overlay{
    z-index: 100;
  }
  .mw-echo-ui-notificationBadgeButtonPopupWidget > .oo-ui-popupWidget > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-head{
    height: 3.6em;
  }
  .ve-ui-mwTemplatePage-description{
    .secondary();
  }
  
  [style="border: 5px dotted #A1FB00; background: #FFF0BD; padding: 20px;"], div.smwpre{
    border: 0px !important;
    .bg(@brand-warning) !important;
    .compute-text(@brand-warning) !important;     
  }
  .mw-warning-with-logexcerpt{
    .hack-border(@well, @detail-secondary);
    .bg-compute-text(@brand-warning);
  }
  .smw-editpage-help{
    .hack-border(@well, @detail-secondary);
    .bg-compute-text(@well);
  }
  .mw-scribunto-message{
    padding: 10px;
    .bg-compute-text(@well);
  }
  #mw-scribunto-input{
    background: #fff;
    border: 1px solid @main-light;
    .color(@main-darker);
  }
  .smwbrowse a, .smwsearch a{
    .link(@a) !important; 
    &, &:hover{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      background: transparent !important;
      background-size: 0px 0px !important; 
      padding-right: 0px !important;
      margin-right: 0px !important;
    }
  }
  .smwbrowse a:before{
    content: "\f06e";
  }
  .smwsearch a:before{
    content: "\f002";
  }
  .property-page-results .value-row:hover{
    .mixin(@bg-inner);
    .mixin(@detail-inner-bg);
  }
  #mw-search-interwiki{
    .bg-compute-text( @modal );
    .mw-search-interwiki-project{
      .bg-compute-text( @brand-primary );
    }  
  }
  .searchdidyoumean {
    .color(@brand-danger);
  }
}