//@import "style.less";
@background-color:#fff,#333,#eee,#f5f5f5;  //body，leftbar，subnav,footer
@font-color:#333,#999,#fff;               //body,sidebar p
@footer-color:#999;
@a-color:#fff,#333,#428bca;                 //leftbar,subnav,footer
@content-acolor:#428bca,#86100f,#f0f0f0;    //content has href and  no href  and border-bottom
@sub-hover-color:#ddd,#333;                //bg,font
@sub-border-color:#d5d5d5;
@sidebar-border-color:#333;
@leftbar-hover{
  background-color:#fff;
  a{
    color: #333;
  }
}
@toc-sidebar-color:#767676,#0e6eb8,#fff;       //tocsidebar  active border-defaultcolor

@selection-color:#40bbe1,#fff;