<div class="wrapper">
    {{header}}
    <article class="home-main">
        <div class="home-info-wrapper">
            <div class="home-info">
                <div class="info-header">
                    <div class="info-intro">
                        <p><strong>灰机wiki</strong>是一个自由、开放的免费维基平台，基于最新版本的MediaWiki构建，并进行了多方面的优化设计。</p>
                        <p>您可以在这里创建维基站点，与同道好友一起建设你所擅长领域的最全资料站！</p>
                    </div>
                    <blockquote>
                        <p>“Omnium rerum principia parva sunt”</p>
                                            <p class="quote-author">————Cicero</p>
                    </blockquote>
                </div>
                <nav class="info-tabs" id="home-feed-tabs">
                    <ul class="" role="tablist">
                    {{#login}}
                        <li role="presentation" class="active"><a href="#following" id="following-tab" role="tab" data-toggle="tab" aria-controls="following">我关注的用户{{followUserCount}}</a></li>
                        <li role="presentation"><a href="#following_sites" id="following_sites-tab" role="tab" data-toggle="tab" aria-controls="following_sites">我关注的站点{{followSiteCount}}</a></li>
                    {{/login}}    
                        <li role="presentation" class="{{active}}"><a  href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all">精彩推荐</a></li>
                    </ul>
                </nav>
                <div id="home-feed-content" class="tab-content">
                    {{#login}}
                    
                    <div role="tabpanel" class="user-home-feed tab-pane fade" id="following_sites" aria-labelledby="following_sites-tab" data-filter="following_sites" data-limit="30" data-item_type="default">
                        {{^siteHidden}}
                        <div class="info-user-list">
                            <h5>您关注的站点较少，也许你会对下面的内容感兴趣。</h5>
                            <ul>
                                {{#recommendSite}}
                                <li>
                                    <img src="/uploads/avatars/my_wiki_15_l.png?r=1441075020" alt="avatar" border="0" class="headimg" data-name="Volvo">
                                    <div>
                                        <b><a href="{{s_url}}">{{s_name}}</a></b>
                                        <span>+关注</span>
                                    </div>
                                </li>
                                {{/recommendSite}}
                            </ul>
                        </div>
                        {{/siteHidden}}
                        <div class="user-home-feed-content"></div>
                        <div class="user-activity-more">加载更多<i class="icon-downward"></i></div>
                    </div>
                    <div role="tabpanel" class="user-home-feed tab-pane fade  in active" id="following" aria-labelledby="following-tab" data-filter="following" data-limit="10" data-item_type="default">
                        {{^userHidden}}
                        <div class="info-user-list">
                            <h5>您关注的用户较少，也许你会对下面的内容感兴趣。</h5>
                            <ul>
                                {{#recommendRes}}
                                <li>
                                    {{&avatar}}
                                    <div>
                                        <b><a href="{{userurl}}">{{username}}</a></b>
                                        <span>+关注</span>
                                    </div>
                                </li>
                                {{/recommendRes}}
                            </ul>
                        </div>
                         {{/userHidden}}
                        <div class="user-home-feed-content"></div>
                        <div class="user-activity-more">加载更多<i class="icon-downward"></i></div>
                    </div>
                    {{/login}}
                    <div role="tabpanel" class="user-home-feed tab-pane fade {{inactive}}" id="all" aria-labelledby="all-tab" data-filter="all" data-limit="30" data-item_type="default">
                    <ul class="recommend">
                        {{#recContent}}
                        <li>
                            <p class="source"><a class="entry-name" href="{{wikiurl}}">{{title}}</a>来自<a class="entry-source" href="{{siteurl}}">{{wikiname}}</a></p>
                            <a href="{{wikiurl}}" class="image">
                                <img alt="Wit by Botanica.jpg" src="{{backgroungimg}}">
                            </a>
                            <p class="entry-description">{{desc}}</p>
                        </li>
                        {{/recContent}}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <aside class="home-aside">
            <div class="aside-top">
                <img src="/resources/feed/huijilargelogo.png">
            </div>
            <div class="aside-bottom">
                <ul class="home-statistics clear">
                    <li><b>{{fileCount}}</b><span>文件上传</span></li>
                    <li><b>{{siteCount}}</b><span>维基站点</span></li>
                    <li><b>{{userCount}}</b><span>注册用户</span></li>
                    <li></li>
                    <li><b>{{editCount}}</b><span>编辑次数</span></li>
                    <li><b>{{pageCount}}</b><span>内容页面</span></li>
                </ul>
                <ul class="wiki-href">
                    <li><i class="icon-book-open"></i><a href="{{helpManual}}">编辑手册</a></li>
                    <li><i class="icon-plane"></i><a href="{{tarmac}}">灰机停机坪</a></li>
                    <li><i class="icon-envelope"></i><a href="{{contact}}">联系我们</a></li>
                </ul>
                <div class="user-info row">
                    {{#login}}
                    <div class="user-login-stats">
                        <div class="user-avatar col-md-3">
                            {{&userAvatar}}
                        </div>
                        <div class="col-md-9">
                            <p class="user-msg"><span class="user-name">{{userName}}</span><a href="{{levelUrl}}" rel="nofollow">{{&userLevel}}</a></p>
                            <ul class="user-follow-msg">
                                <li><h5>编辑</h5>{{&userEdit}}</li>
                                <li></li>
                                <li><h5>关注</h5>{{&follower}}</li>
                                <li></li>
                                <li><h5>粉丝</h5>{{&followee}}</li>
                            </ul>
                            <div class="cleared"></div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="svg-wrap">
                               {{&lange}}
                            </div>
                        </div>
                    </div>
                    {{/login}}
                    {{^login}}
                    <ul class="nav navbar-nav navbar-right navbar-login">
                        <li id= "pt-login" data-toggle="modal" data-target=".user-login">
                            <a rel="nofollow" class="login-in">登录</a>
                        </li>
                        <li>{{&register}}</li>
                    </ul>
                    {{/login}}
                    <div class="col-md-12">
                    <div class="top">
                        <ul id="home-rank-tab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#site" role="tab" id="site-tab" data-toggle="tab" aria-controls="site">站点排名</a></li>
                            <li role="presentation"><a href="#user" id="user-tab" role="tab" data-toggle="tab" aria-controls="user" aria-expanded="true">用户排名</a></li>
                        </ul>
                        <div id="home-rank-content" class="tab-content">
                            <ul role="tabpanel" class="tab-pane fade in active" id="site" aria-labelledby="site-tab">
                            {{#siteRank}}
                                <li>
                                    <span class="home-rank-point">{{site_score}}</span>
                                    <div class="home-rank-right clear">
                                        <span class="home-rank-list">{{site_rank}}</span>
                                        <div class="home-rank-msg">
                                            <a href="{{site_url}}">{{site_prefix}}</a>
                                            <ul>
                                                <li><span>{{totalEdits}}</span></li>
                                                <li></li>
                                                <li><span>{{totalArticles}}</span></li>
                                                <li></li>
                                                <li><span>{{totalPages}}</span></li>
                                                <li></li>
                                                <li><span>{{totalUsers}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {{/siteRank}}    
                            </ul>
                            <ul role="tabpanel" class="tab-pane fade" id="user" aria-labelledby="user-tab">
                                <div class="top-fan-row">
                                    {{#weekRank}}
                                    <li>
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/weekRank}}
                                    {{#monthRank}}
                                    <li>
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/monthRank}}
                                    {{#totalRank}}
                                    <li>
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/totalRank}}
                                </div>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="resource-logo">
                <span class="b-logo">B</span>
                <span class="m-logo">
                    <img src="/resources/feed/mediawiki-logo.png">
                </span>
            </div>
        </aside>
        <img src="/resources/feed/whole-huiji.png" class="home-huiji">
    </article>
</div>


