@import "HuijiColor.less";
@import "SiteColor.less";
 .a() when (lightness(@main-base)>50%){
   @main-darker:darken(@main-base, 0.135*lightness(@main-base));
   @main-dark:darken(@main-base, 0.2*lightness(@main-base));
   @main-middle:darken(@main-base, 0.335*lightness(@main-base));
   @main-light:darken(@main-base, 0.467*lightness(@main-base));
   @main-lighter:darken(@main-base, 0.75*lightness(@main-base));
 }
 .a() when (lightness(@main-base)=<50%){
   @main-darker:lighten(@main-base, 0.135*(100 - lightness(@main-base)));
   @main-dark:lighten(@main-base, 0.2*(100 - lightness(@main-base)));
   @main-middle:lighten(@main-base, 0.335*(100 - lightness(@main-base)));
   @main-light:lighten(@main-base, 0.467*(100 - lightness(@main-base)));
   @main-lighter:lighten(@main-base, 0.75*(100 - lightness(@main-base)));
 }

 .a();

 .mixin (@n) when (lightness(@n) >= 50%) {
   background-color: darken(@n, 10%);
 }
 .mixin (@n) when (lightness(@n) < 50%) {
   background-color: lighten(@n, 10%);
 }

 .mixin2 (@n) when (lightness(@n) >= 50%) {
   background-color: difference(lighten(@n, 10%), #111);
 }
 .mixin2 (@n) when (lightness(@n) < 50%) {
   background-color: difference(lighten(@n, 10%), #111);
 }

  .huiji-css-hook {
   background-color: @bg;

   a {
     color: @a;
     &:hover{
       color: darken(@a, 15%);
     }
   }

   .toc-sidebar li {
     a {
       color: @main-lighter;
       &:hover {
         color: lighten(@a, 10%);
         border-color: lighten(@a, 10%);
       }
     }
     &.active > a {
       color: lighten(@a, 10%);
       border-color: lighten(@a, 10%);
     }
   }

    .subnav{
      background-color: @sub-bg;
      .nav>li>a{
        color: @sub-a;
        &:hover,&:active,&:focus{
          background-color: difference( @sub-bg , #111);
        }
      }
      .nav .open>a{
        background-color: difference( @sub-bg , #111);
      }
      .site-count{
        color: @sub-a;
        a{
          color: difference( @sub-bg , #fff);
        }
      }
      .nav .dropdown> a{
        @media (max-width: 767px){
          background-color: @sub-bg;
        }
      }
    }

    #wiki-body{
      background-color: @bg-inner;
      color: @main-base;

      span,div,ul,li,blockquote,table{
        border-color: @main-lighter;
      }

      .border-darker{
        border-color: @main-light;
      }

      #contentSub{
        color: @main-middle;
      }
    }

    .bottom{
      .mixin(@bg-inner);
      color: @main-darker;
    }

   blockquote{
     .mixin(@bg-inner);
   }

   .nav-box,.wiki-table,.info-box{
     .mixin(@bg-inner);
     tr,td{
       border-color: @main-lighter;
     }
   }

    .infobox{
      width: 300px;
      background-color: @modal;
      font-size: 13px;
      float: right;
      margin-left: 40px;
      margin-bottom: 30px;
      border-width: 1px;
      border-style: solid;
      border-collapse: separate;
      border-spacing: 1px;
      color:difference(@modal,#fff);
      th,td{
        border-bottom-color: difference(@modal, #111);
      }
      .infobox-img{
        text-align: center;
        font-size: 1.25em;
        font-weight: bold;
        padding: 0;
      }
      .infobox-title{
        padding: 5px 8px;
        th{
          font-size: 16px;
          text-align: center;
        }
//        &.large-title th{
//          text-align:center;
//          b {
//            font-size: 24px;
//          }
//        }
//        td{
//          text-align: right;
//          img{
//            display: inline-block;
//          }
//        }
      }
      .infobox-item-title th{
        text-align: center;
        padding: 4px;
        background-color: difference(@modal, #111);
      }
      .infobox-item-label{
        padding: 8px;
        width: 70px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
//        border-bottom-color:
        &.no-border{
          border-bottom-color: transparent;
        }
      }
      .infobox-item-detail{
        padding: 8px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        &.no-border{
          border-bottom-color: transparent;
        }
      }
    }

    .navbox{
      background-color:@modal;
      border-width: 1px;
      border-style: solid;
      width: 100%;
      margin: auto;
      clear: both;
      font-size: 0.88em;
      padding: 1px;
      margin-top: 10px;
      color: difference(@modal, #fff);
      tr{
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color:  difference(@modal, #111);
      }
      td{
        padding: 0;
      }
      .navbox-title{
        padding: 8px;
        font-size: 16px;
        text-align: center;
        background-color:  difference(@modal, #111);
        a{
          margin: 0 5px;
        }
      }
      .mw-collapsible-toggle{
        text-align: right;
        cursor: pointer;
        float: right;
      }
      .navbox-group{
        width: 150px;
        background-color: lighten(@modal, 10%);
        white-space: nowrap;
        text-align: center;
        padding: 8px;
      }
      .navbox-list{
        padding: 8px;
        a{
          margin: 0 5px;
        }
      }
      .navbox-abovebelow{
        padding: 8px;
        text-align: center;
        background-color:  difference(@modal, #111);
        a{
          margin: 0 5px;
        }
      }
    }

    .table-stripe{
      tr:nth-child(odd){
        .mixin2(@bg-inner)
      }
    }
 }

