*{
    outline: none;
}

textarea {
	width: 95%;
    color: #333;
}
.wikiEditor-ui{
    color: #333;
}
.modal-dialog{
    color: #333;
}
.category-links {
	clear: both;
}
.copy-warn{
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -215px;
    z-index:1051;
}
.copy-warn .btn{
    float: right;
    margin-top: 10px;
}
.copy-modal .modal-dialog{
    margin-top: 200px;
}
.copy-modal .modal-body{
    max-height: 300px;
    overflow-y: auto;
}
.copy-modal p{
    margin-bottom: 5px;
}
.copy-modal .copy{
    cursor: pointer;
}


h2 .mw-headline { font-size: 32px; }
h3 .mw-headline { font-size: 22px; }
h4 .mw-headline { font-size: 20px; }
h5 .mw-headline { font-size: 18px; }
h6 .mw-headline { font-size: 17px; }

p {
	margin-bottom: 15px;
}

.hub-menu::before{
    content: '';
    background-image: url(./images/angle.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 11px;
    position: absolute;
    z-index: 101;
    top: -11px;
    left: 45px;
}
.set-menu::before{
    content: '';
    background-image: url(./images/angle.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 11px;
    position: absolute;
    z-index: 101;
    top: -11px;
    right: 15px;
}
.collect-menu::before{
    content: '';
    background-image: url(./images/angle.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 11px;
    position: absolute;
    z-index: 101;
    top: -11px;
    right: 15px;
}
#mw-content-text>p{
    text-align: justify;
}
.mw-content-ltr ul, .mw-content-ltr ol {
	margin-bottom: 9px;;
}
.mw-ui-button{
    min-width:80px;
}
ol.references {
    margin-top: 0;
}
#content-actions {
	margin-top : 0;
}

/* begin toc style */
.toc-sidebar {
	margin-top: 30px;
}

.toc-sidebar.affix{
	position:static;
	transform: none;
}

@media (min-width:768px){
	.toc-sidebar{
		padding-left:20px
	}

}

.nav-list{
	margin-top:20px;
	margin-bottom:20px
}

.toc-sidebar .nav>li>a{
	display:block;
	padding:4px 20px;
	font-size:13px;
	font-weight:500;
    border-left: 1px solid;
}

.toc-sidebar .nav>li>a:focus,.toc-sidebar .nav>li>a:hover{
	text-decoration:none;
	background-color:transparent;
}

.toc-sidebar .nav>.active:focus>a,.toc-sidebar .nav>.active:hover>a,.toc-sidebar .nav>.active>a{
	font-weight:700;
	background-color:transparent;
	border-left:2px solid;
}

.toc-sidebar .nav .nav{
	display:none;
	padding-bottom:10px
}

.toc-sidebar .nav .nav>li>a{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:30px;
	font-size:12px;
	font-weight:400;
}



.toc-sidebar .nav .nav>.active:focus>a,.toc-sidebar .nav .nav>.active:hover>a,.toc-sidebar .nav .nav>.active>a{
	font-weight:500
}


@media (min-width:992px){
	.toc-sidebar .nav>.active>ul{
		display:block
	}

	.toc-sidebar.affix,.toc-sidebar.affix-bottom{
		width:213px
	}

	.toc-sidebar.affix{
		position:fixed;
		top:20px
	}

	.toc-sidebar.affix-bottom{
		position:absolute
	}

	.toc-sidebar.affix .nav-list,.toc-sidebar.affix-bottom .nav-list{
		margin-top:0;
		margin-bottom:0
	}

}

@media (min-width:1200px){
	.toc-sidebar.affix,.toc-sidebar.affix-bottom{
		width:263px
	}

} 
/* end of toc styling */

.editsection {
	float: right;
	font-size: 0.8rem;
	opacity: 0.2;
}

.editOptions .checkbox input:first-child {
	margin-left: -20px;
}

.jumbotron {
	position: relative;
}

.jumbotron h1 img {
	border: 1px solid #eee;
	-webkit-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	-moz-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	position: relative;
	top: -6px;
}

.jumbotron .nav-pills {
	opacity: 0.2;
	position: absolute;
	top: 10px;
	right: 10px;
}

.jumbotron .nav-pills:hover {
	opacity: 0.8;
}

h2:hover .editsection,
h3:hover .editsection,
h4:hover .editsection,
h5:hover .editsection,
h6:hover .editsection {
	opacity: 1;
}

option.unclickable {
	color: #ccc;
}



#wiki-body h2, #DiscussionSnapshot {
	border-bottom: none;
	padding-bottom: 0.5em;
	padding-top: 50px;
    margin:0;
}

#wiki-body h3 {
	border-bottom: none;
    padding-bottom: 0.5em;
    padding-top: 25px;
    margin:0;
}

#wiki-body li {
    margin-bottom: 10px;
    line-height: 1.8;

}

#mw-content-text .center {
	text-align: center;
}

#mw-content-text .floatright {
	margin-left: 1.5rem;
	margin-bottom: 1.5rem;
}

#mw-content-text .floatleft {
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
}

#page-contents ul li { list-style: none; }
#page-contents .dropdown-menu {
	left: 50px;
	max-height: 400px;
	overflow: scroll;
	overflow-y: scroll;
	right: 0;
}

.page-header .nav i {
	opacity: 0.3;
}
.page-header{
    margin-top: 60px;
}
.nav-collapse.in {
	height: auto !important;
}

#toc:not(.toc-sidebar) {
	display: none;
	float: right;
	margin: 0 0 1em 1em;
}

#toc td {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 0 1em 1em 1em;

	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2 );
}

#toc.toc-sidebar td {
	background: transparent;
	border: none;
	box-shadow: none;
	display: table-cell;
	padding: 0;
	width: 160px;
}

#toc.toc-sidebar li {
	line-height: 20px;
	list-style-type: none;
}

#toc.toc-sidebar li li {
	margin-left: 0px;
}

#toc.toc-sidebar h3 {
	font-size: 1em;
}

.toc-sidebar .toctoggle {
	display: none;
}

#toctitle h2 {
	font-size: 16px;
}

#toc ul {
	padding-left: 2px;

}
.toc-sidebar > ul {
	width: 160px;
}

ul.affix {
	width: 160px;
	position: fixed !important;
}

.ve-activated .wiki-body-section{
	width: 100%;
}

ul.affix-bottom{
	position:static;
}

#catlinks {
	border-top: 1px dotted #eee;
	margin-top: 2em;
	padding: 1em 0;
}

#catlinks #mw-normal-catlinks > a {
	color: #999;
}

#catlinks li {
	border-left: 1px solid #ddd;
}

#catlinks li:first-child {
	border-left: none;
}

.bottom {
	background: #f5f5f5;
	margin-top: 1em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.bottom .mw-editsection {
	display: none;
}

.bottom footer {
	margin-top: 2em;
}

.printfooter { display: none;}

/* thumb, copied from vector */
div.thumb {
	margin-bottom: .5em;
	width: auto;
	background-color: transparent;
}
div.thumbinner {
	border: 1px solid #ddd;
	padding: 3px !important;
	background-color: #fff;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
    border-radius: 4px;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
.mwe-upwiz-thumbnail, .mwe-upwiz-file-preview {
    border: 0px solid #cccccc !important;
    padding: 0px !important;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */
div.tright {
	clear: right;
	float: right;
	margin: .5em 0 1.3em 1.4em;
}
/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin: .5em 1.4em 1.3em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

.brand img {
	margin-top: -5px;
	display: inline-block;
	vertical-align: middle;
}

/*.navbar-fixed-top .navbar-inner {*/
	/*filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
/*}*/

/* Subnav */


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
    #icon-section{
        margin-left: 0;
    }
}
pre.linenums ol {
	margin-bottom: 0;
}



@media (max-width: 979px) {
	.mw-headline {
		margin-top: -103px;
		padding-top: 103px;
	}
}

/* responsive */
@media (max-width: 480px) {

	#toc {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.jumbotron {
		padding: 2em 1em;
	}

	.jumbotron p {
		font-size: 1em;
		line-height: 1.5em;
	}

	.jumbotron h1 {
		font-size: 1.5em;
	}

	.jumbotron pre {
		display: none;
	}
}

table.list th {
	background: #eee;
}

.info-box {
	clear: right;
	color: #000;
	background-color: #ccc;
	border-spacing: 0;
	border: 1px solid #999;
	-webkit-border-top-left-radius: 4px;
	   -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	   -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2 );
	font-size: 14px;
	margin-top: -1.4em;
	margin: 0 0 1em 1em;
	padding: 3px;
	padding: 0;
	position: relative;
	width: 250px;
	z-index: 100;
}

.info-box td {
	line-height: normal;
	padding: 5px;
	vertical-align: middle;
}

.info-box td p {
	display: table-cell;
	vertical-align: middle;
}

.info-box .info-image {
	background: #eee;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
	text-align: center;
}

.info-box .info-name {
	background-color: #eee;
	border-top: 1px solid #999;
	border-left: #999;
	border-right: #999;
	color: #000;
	font-size: larger;
	font-variant: small-caps;
	text-align: center;
}

.info-box .info {
	background-color: #ccc;
	border-top: 1px solid #999;
	color: #000;
	font-size: 8pt;
	text-align: center;
}

.info-box .info-label {
	background: #eee;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
	line-height: normal;
}

.info-box .info-value {
	background: transparent;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	color: #000;
	font-size: smaller;
}

.info-box.quest .info-name {
	background-color: #CECF86;
	border-color: #8A895F;
}

.info-box.weapon .info-name {
	background-color: #e8c5c5;
}

.list {
  width: auto;
  margin-bottom: 20px;
}

.list th,
.list td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.list th {
  font-weight: bold;
}

.list thead th {
  vertical-align: bottom;
}

.list caption + thead tr:first-child th,
.list caption + thead tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + thead tr:first-child td,
.list thead:first-child tr:first-child th,
.list thead:first-child tr:first-child td {
  border-top: 0;
}

.list tbody + tbody {
  border-top: 2px solid #dddddd;
}

.list .list {
  background-color: transparent;
}

.list {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.list th,
.list td {
  border-left: 1px solid #dddddd;
}

.list caption + thead tr:first-child th,
.list caption + tbody tr:first-child th,
.list caption + tbody tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + tbody tr:first-child th,
.list colgroup + tbody tr:first-child td,
.list thead:first-child tr:first-child th,
.list tbody:first-child tr:first-child th,
.list tbody:first-child tr:first-child td {
  border-top: 0;
}

.list thead:first-child tr:first-child > th:first-child,
.list tbody:first-child tr:first-child > td:first-child,
.list tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list thead:first-child tr:first-child > th:last-child,
.list tbody:first-child tr:first-child > td:last-child,
.list tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list thead:last-child tr:last-child > th:first-child,
.list tbody:last-child tr:last-child > td:first-child,
.list tbody:last-child tr:last-child > th:first-child,
.list tfoot:last-child tr:last-child > td:first-child,
.list tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.list thead:last-child tr:last-child > th:last-child,
.list tbody:last-child tr:last-child > td:last-child,
.list tbody:last-child tr:last-child > th:last-child,
.list tfoot:last-child tr:last-child > td:last-child,
.list tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.list tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.list tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.list caption + thead tr:first-child th:first-child,
.list caption + tbody tr:first-child td:first-child,
.list colgroup + thead tr:first-child th:first-child,
.list colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list caption + thead tr:first-child th:last-child,
.list caption + tbody tr:first-child td:last-child,
.list colgroup + thead tr:first-child th:last-child,
.list colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list tbody > tr:nth-child(even) > td {
  background-color: transparent;
}

.list tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Sidebar Styles */

.nav-up {
    top: -53px;
}
.sidebar-wrapper-up {
	top:-103px;
}

.selected, #wiki-body .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color:#EEE;

}
#wiki-body .nav-tabs > li{
	margin-bottom: -1px;
}
.mainLegend {
	margin-top: 30px;
}
#firstHeading #mw-echo-moreinfo-link {
	display: inline !important;
	width:100%;
	background: transparent !important;
}
#firstHeading #mw-echo-pref-link{
	display:inline !important;
	float: none !important; 
	background: transparent !important;
}
.oo-ui-window-isolated {
    font-family: inherit !important;
    font-size: 1.2em !important;
}
.oo-ui-processDialog-title {
    font-weight: bold;
    line-height: 1.3em !important;
}

body .mw-echo-overlay {
	z-index: 1300;
	width: 300px;
    position: fixed;
    top: 50px;
}
body .mw-echo-overlay::before{
    left: 206px !important;
}


.infobox{
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
}
@media (min-width: 1366px) {
    .container {
        width: 90%;
        max-width: 1200px;
    }
}
#wrapper.toggled{
    padding-left: 240px;
}
.toggled #sidebar-wrapper{
    left:0;

}
@media (max-width: 1365px) {
    #wrapper.toggled{
        padding-left: 0;
    }
    .toggled #sidebar-wrapper{
        left:-240px;
    }
    .smtoggled #sidebar-wrapper{
        left: 0;
    }

    /*#page-content-wrapper {*/
        /*padding: 20px;*/
        /*position: relative;*/
    /*}*/

    /*#wrapper.toggled #page-content-wrapper {*/
        /*position: relative;*/
        /*margin-right: 0;*/
    /*}*/
}
#wiki-body h2 {
    border-bottom: none;
}
#siteNotice{
    margin-top: 20px;
}
#content h1{
    font-size:3.8em;
}
#content p{
    line-height: 1.8;
    /*letter-spacing: 0.5px;*/
}
.alert-wrap{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.alert-wrap>.alert{
    color: #fff;
    background-color: #000;
    opacity: 0.9;
    /* border-color: #ebccd1; */
    min-width: 70px;
    max-width: 300px;
    margin: 0 auto;
}
@media (min-width: 768px){
    #mw-notification-area .mw-notification {
        width: 300px;
        margin: 30px auto;
    }
}
#mw-notification-area{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: inherit;
    line-height: 0;
}
#mw-notification-area .mw-notification{
    margin-top: 200px;
    opacity: 0.9;
    padding: 0;
    border: none;
}
.mw-notification{
    margin: 10px;
}
.mw-notification-content{
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
}
.mw-notification-content p{
    margin: 0;
}
.login-in{
    cursor: pointer;
}
@media screen and (min-width: 768px){
    .user-login{
        margin-top: 200px;
    }
}
.login-wrap{
    width: 180px;
    margin: 10px auto;
}
.userloginForm .mw-ui-button.mw-ui-block{
    width: auto;
}
.user-login #mw-createaccount-cta{
    margin-left: -200px;
}
.user-login #wpLoginAttempt{
    position: absolute;
    right:50px;
}
.user-name{
    margin-bottom: 10px;
}
/*.h100{*/
    /*height:100%;*/
/*}*/
@media screen and (max-width: 767px){
    #mw-createaccount-cta{
        margin-left: auto;
    }
}

/*手机上图片不超过手机宽度*/
@media screen and (min-width:320px ) and (max-width:414px ){
    .ns-0 #mw-content-text>*{
        max-width: 100%;
    }
    .infobox{
        width:100%!important;
    }
    div.thumb,.thumbinner,.ns-0 #content img{
        max-width: 100%!important;
        height: auto;
    }
    div.thumb,.thumbinner {
        margin: 0 auto;
        float: none;
    }
}

.page-首页 #firstHeading{
    border-bottom: none;
}
.page-首页 #firstHeading h1{
    display: none;
}
.skin-bootstrap-mediawiki .ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
    position: fixed;
    top: 60px;
    z-index: 100;
    border-top: medium none;
}
.skin-bootstrap-mediawiki .ve-init-mw-viewPageTarget-toolbar > .oo-ui-toolbar-bar {
    z-index: 100;
}

.oo-ui-windowManager-modal  .oo-ui-dialog  .oo-ui-window-frame {
    top: 170px!important;
    bottom: auto!important;
}

.ve-activated #content-actions{
	display:none;
}
.parallax-bg {
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:60px;
  left:0;
  z-index: -1;
}

.parallax-jumbotron {
  height: 250px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
.heading-hero-image {
	display:none;
}

#contentSub{
    font-size: 24px;
}
.familyTreeWrapper{
    overflow-x: auto;
    overflow-y: hidden;
}
sup.reference {
	line-height: 1.2;
}
.popover {
	width:276px;
}
/* fix msupload */
#upload-list .file {
    min-height: 40px;
}
#upload-bottom {
	height:inherit;
}

.follow-modal{
    padding:0;
    list-style-type: none;
}
.follow-modal li{
    padding: 5px;
    line-height: 40px;
}
.follow-modal span{
    text-align: center;
}
.follow-modal .modal-user-info{
    text-align: left;
    padding-left: 60px;
}
.modal-user-info{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.follow-modal-headimg img{
    border-radius: 50%;
    margin-right: 10px;
}
.follow-modal-more{
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}
.follow-modal-more a{
    float: right;
    margin-right: 10px;
}
.follow-modal .fa-spinner{
    margin: 20px auto;
    width: 60px;
    height: 60px;
    display: block!important;
}
@media screen and (max-width: 566px) {
    .follow-modal .modal-user-info{
        padding-left:15px;
    }
    .form-horizontal .form-group {
        margin-right:auto;
        margin-left: auto;
    }
    .mw-mmv-image-metadata-links-column{
        width: 100%;
    }
}
.headimg{
    border-radius: 50%;
<<<<<<< HEAD
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.top-fan-row{
    padding: 5px;
}
.top-fan i{
    float: right;
    margin-top: 5px;
    margin-right: 60px;
    font-weight: 100;
=======
    border: 1px solid #fff;
    max-width: 100px;
>>>>>>> c935f77b70c503d0e1daf46fbcb9258ee53a991a
}
.relationship-wrapper{
    margin: 20px auto;
    width: 600px;
    border: 1px solid #d7dee8;
    background: #fff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
}
.relationship-wrapper .relationship-item{
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    padding-bottom: 20px;
}
.relationship-count {
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
}
.relationship-list{
    border-top: 1px solid #e0e0e0;
    padding: 20px;
}
.relationship-actions{
    margin-left: 68px;
}
.relationship-actions div{
    margin-bottom: 10px;
}
.relationship-name a{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}
.relationship-name i{
    margin-bottom: 5px;
    display: inline-block;
    font-style: normal;
    margin-right: 5px;
}
.relationship-list-btn{
    position: absolute;
    right: 0;
    top: 10px;
}
.relationship-list-btn li{
    display: inline-block;
    padding: 3px 15px;
    /*border: 1px solid #e0e0e0;*/
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    margin-right: 10px;
    cursor: pointer;
}
.relationship-list-btn li .fa-spinner{
    padding: 0 11px 0 12px;
}
.relationship-list-btn li a{
    color: #333;
}
.user-card{
    background: #fff;
    width: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow:0 0 48px 1px rgba(0,0,0,0.1);
    position: absolute;
    transition:all 0.5s;
    max-height: 300px;
    overflow: hidden;
    opacity: 0;
    z-index: 10000;
}
.user-card-top{
    height: 130px;
    background: #0099cc;
    text-align: center;
    padding: 0 20px;
}
.user-card-top img{
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid #fff;
}
.user-card-top p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.user-card-info span{
    display: inline-block;
    color: #fff;
    margin-right: 5px;
}
.user-card-info p{
    color: #fff;
    margin-bottom:0 ;
}
.user-card-info a{
    color: #fff;
    font-weight: bold;
}
.user-card-mid{
    height: 100px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.user-card-msg ul{
    padding-left: 0;
}
.user-card-msg li{
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    padding: 0 10px;
}
.user-card-msg .cut{
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}
.user-card-msg .user-card-follow,.user-card-msg .user-card-gift{
    background:#fff;
    padding: 5px 20px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    margin: 10px;
    text-decoration: none;
    color: #333;
}
.user-card-bottom{
    padding: 10px 20px 0 20px;
}
.user-card-bottom p{
    margin-bottom: 10px;
    max-height: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.oo-ui-popupToolGroup-handle {
    min-height: 3.1em;
}
.oo-ui-barToolGroup > .oo-ui-toolGroup-tools > .oo-ui-tool > .oo-ui-tool-link{
    padding:  0 0.625em!important;
}
.user-card>.fa-spinner{
    text-align: center;
    margin: 0 auto;
    display: block;
}
.familyTree{
    border-collapse: separate;
    font: 80%;
}
*[id]:target:before {
    display: block;
    content: " ";
    margin-top: -185px;
    height: 185px;
    visibility: hidden;
}
#searchText{
    display: inline-block;
    width: 70%;
    max-width: 500px;
}
.mw-search-results div.searchresult {
	width: auto;
	max-width: 540px;
}
.ve-activated .comments-body {
	display:none;
}
.huiji-h1-edit-button{
    display: inline-block;
    font-size: 0.5em;
    padding-left: 1em;
    position: relative;
    bottom: 10px;
}
.mw-editsection{
    opacity: 0;
    left: -10px;
    position:relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#huiji-h1-edit-button .mw-editsection-divider{
    width: 1px;
    height: 25px;
    background: #555;
    display: inline-block;
}
#huiji-h1-edit-button .tooltip{
    white-space: nowrap;
}
#content > .ve-init-target > div.row {
    display:none;
}
h2 .mw-editsection{
    bottom:8px;
}
h3 .mw-editsection{
    bottom:5px;
}
.ve-active .bdsharebuttonbox{
	display:none;
}
.mw-editsection.edit-active{
    left: 0;
    opacity: 1;
}
.mw-editsection .mw-editsection-divider{
    position: relative;
    bottom:2px;
}
#wiki-body .bdsharebuttonbox a{
    float: none;
    font-size: 18px;
    line-height:normal;
    height:auto;
    background-image: none;
    cursor: pointer;
    margin:0;
    color: #fff!important;
    background-color: #09c;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}
.page-nav-wrapper{
    text-align: center;
}
.comments-body .container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}
ol.carousel-indicators{
	margin-left: -30% !important;
	padding-left: 0 !important;
	bottom: 10px !important;
}
.client-js #wiki-outer-body {
	display:none;
}
