//@background-color:#333,#fff,#333,#d5d5d5,#f5f5f5;
@import "default_theme";
@import "animation";
@header-color:#333,#fff,#e7e7e7,#0099cc,#e0e0e0;
.transition(@time){
  -webkit-transition:all @time;
  -moz-transition:all @time;
  -ms-transition:all @time;
  -o-transition:all @time;
  transition:all @time;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
a{
  .transition(0.9s);
}
.clear:after{
  content:'';
  clear: both;
  display: block;
}

//header
.header{
  background-color:extract(@header-color,2);
  border-color:extract(@header-color,3);
  margin-bottom: 0;
  transition: top 0.2s ease-in-out;
  border: none;
  .navbar-container{
    .box-shadow();
  }
  .navbar-nav>li>a{
    color: extract(@header-color, 2);
    &:hover{
      color:extract(@header-color,2);
    }
    &:focus{
      color: extract(@header-color,2);
    }
  }
  .navbar-header {
    background-color:extract(@header-color,1);
    #menu-toggle{
      z-index: 1200;
      border-right: 1px solid #666;
      padding-top: 15px;
      margin-right: 10px;
      .transition(0.9s);
      &:hover{
        opacity: 0.7;
      }
      .menu-active {
        color: #fff;
      }
      .icon-bar{
        display: block;
        width: 22px;
        height: 2px;
        background: #fff;
        .transition(0.2s);
        &+.icon-bar{
          margin-top: 6px;
          width: 17px;
        }
        &:last-child{
          width: 12px;
        }
      }
    }
    .search-toggle{
      float: right;
      line-height: 50px;
      margin:0;
      color: #fff;
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar-toggle {
      position: relative;
      float: right;
      font-size: 20px;
      line-height: 50px;
      margin: 0;
      padding:0 10px;
      background-color: transparent;
      background-image: none;
      border: none;
      color: extract(@header-color,2);
    }
    .navbar-brand {
      padding:10px;
      img {
        margin-right: 0.5em;
        max-height: 30px;
      }
    }
    .wiki-toggle{
      float: left;
      color: #fff;
      height: 50px;
      line-height: 50px;
      padding-right: 20px;
      cursor: pointer;
    }
    #searchformphone{
      display: none;
    }
  }
  #icon-section{
    background-color:extract(@header-color,1);
    .hub-menu{
      padding: 0;
      width: 250px;
      background-color:extract(@header-color,5);
      &>li{
        float: left;
        &>ul{
          padding-left: 0;
          &>li{
            list-style-type: none;
            padding: 5px 10px;
            cursor: pointer;
          }
        }
      }
      .hub-list{
        background: extract(@header-color,2);
        color: #999;
        .active{
          background-color:extract(@header-color,5);
          color: extract(@header-color,1);
        }
      }
      .hub-selection{
        display: none;
        background-color:extract(@header-color,5);
        .wiki-random{
          position: absolute;
          bottom: 5px;
          right: 10px;
          font-size: 12px;
          color: extract(@header-color,4);
        }
        a{
          color: extract(@header-color,1);
          &:hover{
            text-decoration: none;
          }
        }
        &.active{
          display: block;
        }
      }
    }
  }
  .navbar-form{
    width: 2000px;
    padding-left: 30px;
    .navbar-search{
      font-size: 18px;
      position: absolute;
      left: 460px;
      top: 15px;
      color: #888;
    }
    .form-control{
      width: 100%;
      margin-top: 8px;
      border: none;
      box-shadow: none;
    }
  }
  .navbar-user{
    //    border-left: 1px solid extract(@header-color,3);
    .set{
      padding-right: 20px;
      .set-menu{
        min-width: 110px;
      }
    }
    .mw-echo-notifications-badge{
      color: #fff;
      background: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      position: absolute;
      top: 10px;
      right: 5px;
      padding: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
    .collect-menu{
      right: -10px;
    }
    &>li>a{
      color: extract(@header-color, 1);
      &:hover{
        color:extract(@header-color,1);
      }
      &:focus{
        color: extract(@header-color,1);
      }
    }
    .dropdown-menu{
      li {
        padding: 0 2px;
        a {
          line-height: 30px;
          padding-left: 10px;
        }
      }
    }
    li{
      line-height: 50px;
      padding: 0 8px;
      &.open>a,&.open>a:hover,&.open>a:focus{
        background: none;
        .fa{
          color: extract(@header-color,4);
        }
      }
      &>a{
        padding: 0;
        line-height: 50px;
      }
      .fa{
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  .navbar .navbar-inner .btn {
    margin-top: 0;
  }
  .user-icon {
    display: inline-block;
    margin-right: 0.5em;
    img {
      border:none;
      width: 20px;
      height: 20px;
    }
  }
  .navbar-login>li>a{
    color: extract(@header-color,1);
  }
}
body{
  background-color: extract(@background-color,1);
  color: extract(@font-color,1);
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  #wrapper{
    .transition(0.2s);
  }
  ::selection {
    background:extract(@selection-color,1);
    color:extract(@selection-color,2);
    text-shadow: none;
  }
  ::-moz-selection{
    background:extract(@selection-color,1);
    color:extract(@selection-color,2);
    text-shadow: none;
  }
  @media screen and (max-width: 767px) {
    .mw-echo-overlay{
      top:90px;
      width: 100%;
      left: 0!important;
      &::before{
        left: auto!important;
        right: 69px;
      }
    }
  }
}
#sidebar-wrapper{
  background-color: extract(@background-color,2);
  z-index: 1000;
  position: fixed;
  width: 240px;
  top: 50px;
  bottom: 0;
  left:-240px;
  overflow-x: hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  .transition(0.2s);
  .sidebar-nav {
    padding-left: 0px;
    &>li{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    li{
      height: auto;
      display: block;
      text-indent: 25px;
    }
    ul{
      padding-left: 10px;
      padding-right: 20px;
      li{
        text-indent: 15px;
        line-height: 30px;
        .transition(0.9s);
        a {
          display: block;
          text-decoration: none;
          &:hover,&:focus,&:active{
            text-decoration: none;
          }
        }
        a#site-article-count, span#site-follower-count{
          display: inline;
          text-decoration:underline;
          color: #999;
        }
        a.left-author {
          display:inline;
        }
      }
    }
    p{
      color: extract(@font-color, 2);
      display: block;
      text-decoration: none;
      padding-left: 0px;
      padding-right: 10px;
      line-height: 20px;
      font-size: 12px;
    }
    i{
      display: inline-block;
      margin-right: 5px;
      height: 14px;
      width: 14px;
      &:before{
        position:relative;
        right:14px;
      }
    }
    ul>li>a:hover{
      background: none;
    }
    .dropdown-menu a{
      padding: 8px 0;
      color:#333;
      font-size: 12px;
    }
    .sidebar-header{
      text-align: center;
      text-indent: 0;
      word-break: break-all;
      &>a{
        display: block;
        font-size: 24px;
      }
      button{
        display: block;
        padding: 0;
        margin: 5px auto;
      }
    }
    .sidebar-behavior{
      ul::after{
        content: '';
        display: block;
        clear: both;
      }
      &>ul>li{
        width: 50%;
        float: left;
        a{
          white-space:nowrap;
        }
      }
      .copy i{
        float: right;
        margin-right: 10px;
        ::before{
          position: static!important;
        }
      }
    }
    .left-follow{
      padding-top:15px;
      .logo-wiki-user{
        float: none;
        margin-top: 5px;
        cursor: pointer;
        padding-left:0;
        text-align: center;
        text-indent: 0;
        font-weight: bold;
        font-size:14px
      }
      #user-site-follow{
        padding: 0px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center
      }
      #site-follower-count{
        cursor: pointer;
      }
    }
    .sidebar-brand {
      border-top: 1px solid;
      border-color:@sidebar-border-color;
      font-size: 12px;
      line-height: 34px;
      .headimg{
        border-color: extract(@background-color,2);
      }
      a{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 190px;
        white-space: nowrap;
      }
      .dropdown-menu {
        padding:0;
        width: 200px;
        li{
          &:hover{
            background: #ddd;
          }
        }
      }
    }
    .left-author>ul {
      li{
        height: 30px;
      }
      img{
        margin-right: 5px;
        border: 1px solid rgba(0,0,0,0.5);
        float: left;
        margin-top: 5px;
        margin-left: 15px;
        vertical-align: inherit;
      }
      a {
        float: left;
        max-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
        white-space: nowrap;
      }
      span {
        float: right;
        margin-right: 20px;
        color:extract(@a-color,1);
        text-indent: 0;
      }
    }
    .sidebar-create {
      padding-top: 5px;
      padding-bottom: 5px;
      text-indent: 0;
      .create-group{
        margin: auto 15px;
        #mw-input-preload{
          width: 20px;
          padding: 0;
        }
        .createboxInput {
          height: 34px;
          width: 100px;
        }
        .createboxButton{
          min-width: 30px;
        }
        input{
          height: 30px;
          padding: 0 5px;
        }
      }
      &:hover{
        background-color: extract(@header-color,1);
      }
    }
    .left-manager .more{
      margin-left: 10px;
    }
  }
  a{
    color: extract(@a-color,1);
  }
  .left-nav>ul>li:hover,.left-tool>ul>li:hover{
    //    @leftbar-hover;
    background-color:#fff;
    a{
      color: #333;
    }
    .dropdown-menu a{
      color:#333;
    }
  }
}
.subnav{
  //@hover{
  //  background-color: extract(@sub-hover-color,1);
  //  color:extract(@sub-hover-color,2);
  //}
  .box-shadow();
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-color: extract(@background-color,3);
  font-size: 14px;
  width: 100%;
  position:fixed;
  top:50px;
  z-index: 100;
  &.subnav-up {
    top:-1000px;
    display: none;
  }
  .nav>li:first-child a{
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  #subnav-select{
    display: none;
  }
  #user-site-follow{
    min-width: 40px;
    padding: 0 5px;
    margin-top: 10px;
    span{
      display:none;
    }
  }
  .site-count{
    float: right;
    &>p {
      margin-bottom: 0;
      margin-top: 5px;
      float: right;
      a {
        font-size: 24px;
        color: @sub-site-count-color;
        cursor: pointer;
      }
    }
  }
  #subnav-toggle{
    display: none;
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }
  .dropdown-menu{
    @media screen and (min-width: 769px) {
      max-height: none!important;
    }
  }
  .nav>li>a{
    color:extract(@a-color,2);
    border: none;
    font-size: 16px;
    height: 50px;
    padding-top: 15px;
    border-radius: 0;
    &:hover,&:focus,&:active{
      //    @hover;
      background-color: extract(@sub-hover-color,1);
      color:extract(@sub-hover-color,2);
    }
    &.active{
      //    @hover;
      background-color: extract(@sub-hover-color,1);
      color:extract(@sub-hover-color,2);
    }
  }
}

//.bell-animation{
//  color: red;
//  animation:bell 5s infinite linear;
//  -webkit-animation:bell 5s infinite linear;s
//  -moz-animation:bell 5s infinite linear;
//  -o-animation:bell 5s infinite linear;
//  position:relative;
//  left: 5px;
//}
.ns-0 #wiki-outer-body{
  font-size: 16px;
  .wiki-body-section  {
    a:not(.image) {
      color: extract(@content-acolor, 1);
      //      border-bottom: 1px solid extract(@content-acolor, 3);
      &:hover {
        //        border-bottom-color: extract(@content-acolor, 1);
        color: extract(@a-hover-color, 1);
        text-decoration: none;
      }
      &.new {
        color: extract(@content-acolor, 2);
        &:hover {
          color: extract(@a-hover-color, 2);

          //          border-bottom-color: extract(@content-acolor, 2);
        }
      }
    }
  }
}
.ns-0 #wiki-outer-body .familyTree, .ns-0 #wiki-outer-body .reflist, .ns-0 #wiki-outer-body .infobox{
  font-size: 14px;
}
#wiki-body{
  @media (min-width: 769px){
    padding-left: 35px;
    padding-right: 35px;
  }
}
#wiki-outer-body {
  padding-top: 100px;
  .toc-sidebar li{
    a{
      color:extract(@toc-sidebar-color,1);
      border-color: extract(@toc-sidebar-color,3);
      &:hover{
        color:extract(@toc-sidebar-color,2);
        border-left: 1px solid;
        border-color: extract(@toc-sidebar-color,2);
      }
    }
    &.active>a{
      color: extract(@toc-sidebar-color,2);
      border-color: extract(@toc-sidebar-color,2);
      &:hover{
        border-left-width:2px;
      }
    }
  }
}
.bottom{
  font-size: 14px;
  background-color: extract(@background-color,4);
  a{
    color:extract(@a-color,3);
  }
  footer{
    color: @footer-color;
  }
}
@media screen and (min-width: 1366px){
  .menu-active{
    .icon-bar:nth-child(2){
      margin-left: 5px;
    }
    .icon-bar:last-child{
      margin-left: 10px;
    }
  }
}
@media screen and (max-width: 1365px) {
  .smenu-active {
    .icon-bar:nth-child(2) {
      margin-left: 5px;
    }
    .icon-bar:last-child {
      margin-left: 10px;
    }
  }
}
@media screen and (min-width: 1200px) {
  #scrollDiv {
    width: 10px;
    position: absolute;
    top: 0;
    background: rgba(225,225,225,.15);
    border-radius: 10px;
  }
  #sidebar-wrapper{
    overflow-y: hidden;
    .sidebar-nav{
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
@media screen and (max-width: 1200px){
  .subnav-up{
    top: -42px;
  }
  .nav-up{
    top: 0;
  }
}
@media  screen and (min-width: 1441px) and (max-width: 1980px) {
  .subnav {
    .nav > li:nth-child(n+7) {
      display: none;
    }
    .nav > li.site-count {
      display: inline-block;
      .edit-count{
        display:none;
      }
    }
  }  
}
@media  screen and (min-width: 992px) and (max-width: 1440px) {
  .subnav {
    .nav > li:nth-child(n+5) {
      display: none;
    }
    .nav > li.site-count {
      display: inline-block;
      .article-count{
        display:none;
      }
      .edits-count{
        display:none;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .header {
    #icon-section {
      position: absolute;
      display: none;
      top: 50px;
      &.xs-show{
        display: block;
      }
      & > li {
        float: none;
        width: 300px;
        top: 30px;
        &:nth-child(2) {
          top: auto;
          bottom: 30px;
        }
        & > a {
          line-height: 30px;
          padding: 0;
          padding-left: 10px;
          .caret {
            display: none;
          }
        }
        .hub-menu {
          display: block;
          width: 300px ;
          background-color: #444 ;
          border: none;
          &::before{
            display: none;
          }
          .hub-list {
            background: #333;
            color: #fff;
            .active {
              background-color: #444;
              color: #fff;
            }
          }
          .hub-selection{
            background-color: #444;
            color: extract(@header-color,2);
            a{
              color: extract(@header-color,2);
            }
          }
        }
      }
      &>.open>a, &>.open>a:hover, &>.open>a:focus {
        color: extract(@header-color,2);
        background-color: extract(@header-color,1);
      }
    }
    .navbar-form .navbar-search {
      left: 230px;
    }
  }
  .subnav {
    .nav > li:nth-child(n+3) {
      display: none;
    }
    .nav > li.site-count {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
  .header{
    #searchformphone{
      position: absolute;
      padding: 0;
      margin: 0;
      top: 50px;
      width: 100%;
      z-index:1;
      .form-control{
        margin-top: 0;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
        border-radius: 0;
        border: none;
      }
    }
    .navbar-collapse{
      background-color: extract(@header-color,1);
      padding: 0px;
      &.in{
        overflow-y: visible;
      }
      #icon-section{
        margin: 0;
        float: left;
        .hub-menu{
          position: absolute;
          width: 100%;
        }
        &>li{
          float: left;
          position: static;
          .caret{
            display: none;
          }
        }
        &>.open>a, &>.open>a:hover, &>.open>a:focus {
          color: extract(@header-color,2);
          background-color: extract(@header-color,1);
        }
      }
      .navbar-user{
        float: right;
        border-left: none;
        margin: 0;
        .mw-echo-notifications-badge {
          color: #333;
          background: #333;
        }
        li{
          float: left;
          padding: 0;
          position: static;
          &.set{
            padding-right: 20px;
          }
          &>a{
            padding: 0 5px;
            line-height: 40px;
            color: #fff;
            .user-icon{
              margin-right: 0;
            }
          }
        }
        .collect-menu::before {
          right: 42px;
        }
        .open .dropdown-menu{
          position: absolute;
          background-color: extract(@header-color,2);
          border: 1px solid #ccc;
          border: 1px solid rgba(0,0,0,.15);
          border-radius: 4px;
          -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
          width: 100%;
        }
        .nav{
          margin: 0;
        }
      }
      .navbar-login{
        margin: 0;
        float: right;
        &>li{
          display: inline-block;
          &>a{
            color: extract(@header-color,2);
          }
        }
      }
    }
    .navbar-header {
      #menu-toggle {
        margin-right: 0;
        padding-left: 0;
        border-right: none;
      }
    }
  }
  .subnav{
    position: absolute;
    top: 50px;
    .nav{
      &.phone-open{
        min-height: 242px;
      }
      .dropdown {
        position: static;
        clear: left;
        float: none;
        background: extract(@header-color, 2);
        display: none;
        & > a {
          padding: 5px 10px;
          background: extract(@background-color, 3);
          width: 150px;
          height: inherit;
          //          &:hover{
          //            background-color: extract(@background-color, 3);
          //            color:extract(@sub-hover-color,2);
          //          }
        }
        &.phone-active > a {
          background: extract(@header-color, 2);
        }
        &.primary-nav a{
          color: extract(@a-color,3);
        }
      }
      .dropdown-menu {
        left: 152px;
        right: 0;
        top: 50px;
        margin: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
        display: none!important;
        &.phone-active {
          display: block!important;
        }
      }
      &>li:first-child a {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .site-count{
      display: none;
    }
    #subnav-toggle{
      display: block;
    }
  }
  .container-fluid{
    padding: 0;
  }
  .subnav.subnav-up{
    top:50px;
    display: block;
  }
  .nav-up{
    top: 0;
  }
  #firstHeading h1{
    font-size: 2.2em;
    display:inline-block;
  }
  #huiji-h1-edit-button{
    font-size: 1.6em;
    display:inline-block; 
  }
  .phone-wrapper{
    position: fixed;
    left:0;
    right: 0;
    top: 50px;
    bottom: 0;
    background: rgba(0,0,0,.1);
    z-index: 100;
  }
}
#wiki-body ul.profile-interactive li{
  line-height: 34px;
}
.dropping{
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
