@import "./../variable.less";
@import "./../mixins.less";
@smw-wikitable-color-light:      #fff;
@smw-wikitable-color-dark:       #333;
@smw-wikitable-bg:               @detail-wikitable-bg;
@smw-wikitable-color:            @detail-wikitable-color;
@smw-wikitable-a:                @detail-wikitable-a;
@smw-wikitable-border:           @detail-wikitable-border;
@smw-wikitable-th-bg:            @detail-wikitable-th-bg;
.colorswitch(@n) when(iscolor(@n)){
	color: contrast(@n,@smw-wikitable-color-dark,@smw-wikitable-color-light);
}
.borderleft(@n) when(iscolor(@n)){
	border-left: 8px solid @n;
}
.borderright(@n) when(iscolor(@n)){
	border-right: 8px solid @n;
}
.bglighten(@n) when(iscolor(@n)){
	background-color: lighten(@n,10%);
}
.bgdarken(@n) when(iscolor(@n)){
	background-color: darken(@n,10%);
}
.bgswitch(@n) when(iscolor(@n)){
	& when (lightness(@n) >= 50%) {
		tr:nth-child(odd) {
			background-color: darken(@n, 15%);
    	}
		tr:nth-child(even) {
      		.bg(@n);
    	}
  	}
  	& when (lightness(@n) < 50%) {
    	
		tr:nth-child(odd) {
			.bg(@n);
    	}
		tr:nth-child(even) {
      		background-color: lighten(@n, 15%);
    	}
  	}
}
.setsize(@_){
	width: auto;
    height: 35px;
    font-size: 15px;
	line-height:27px;
	margin: 0 3px;
}

.smwb-factbox a {
		.link(@well);
		.link(@smw-wikitable-bg);
	}
.smwb-factbox(@_) {
    color: @main-base;
    .color(@detail-wikitable-color);
	
	tbody tr.smwb-title,tbody tr.smwb-center {
		background-color: @well;
		.bg(@smw-wikitable-bg);
	}
	tbody tr.smwb-propvalue,tbody tr.smwb-ipropvalue {
		th {
			background-color: @well;
			.bg(@smw-wikitable-th-bg);
		}
		td {
			background-color: lighten(@well,10%);
			.bglighten(@smw-wikitable-th-bg);
		}
	}
	
	
 }
 
#bodyContent table.smwb-factbox{
	.smwb-factbox(smwb-factbox);
	border-left: 8px solid @well;
	.borderleft(@smw-wikitable-border);
	border-right: 8px solid @well;
	.borderright(@smw-wikitable-border);
	}
	
#bodyContent table.smwb-ifactbox {
	.smwb-factbox(smwb-ifactbox);
	border-left: 8px solid @well;
	.borderleft(@smw-wikitable-border);
	border-right: 8px solid @well;
	.borderright(@smw-wikitable-border);
	
 }
.smw-ask-otheroptions{
	color: @main-base;
	.color(@smw-wikitable-color);
	.bgswitch(@bg-inner) !important;
	td {
		padding-left:5px;
		padding-top:5px;
	}
	
}
.mw-special-Ask legend {
	border: none;
	padding-top:35px;
	margin-bottom: 0;
}
#sorting_main>div{
	padding-bottom:5px;
}
.smw-ask-actions a{
	.setsize(a);
}

.smw-ask-actions{
	input:first-of-type{
		.setsize(p);
	}
}
.mw-special-Ask .smw-ask-action-btn{
	border-radius: 0;
}
.mw-special-CreateAccount {
	#mw-content-text > .mw-ui-container {
		.htmlform-tip{
			position: static;
		}
	}
}
button#mw-input-qqlogin{
	font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // line-height: 1;
    -webkit-font-smoothing: antialiased;
	&:before{
		content: "\e604";
	}
}
button#mw-input-weibologin{
	font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // line-height: 1;
    -webkit-font-smoothing: antialiased;
	&:before{
		content: "\e601";
	}
}
	
@media (max-width: 480px) {
	.mw-special-CreateAccount, .mw-special-Userlogin {
		#mw-content-text > .mw-ui-container {
			#userloginForm {
				width: 100%;
				#userlogin2, .mw-ui-vform {
					width: 100%;
				}
			}
		}
	}
  
}
.skin-BootstrapMediawiki{
	.mw-echo-date-section{
		.secondary();
	}
	.mw-echo-state .mw-echo-content{
		.mw-echo-title{
			color: @main-base !important;
		}
		.mw-echo-payload{
			.secondary();
		}	
	}
	.mw-echo-state .mw-echo-content .mw-echo-notification-footer{
		.secondary();
	}
}




