<div id="{{id}}" class="carousel slide" data-ride="carousel" data-interval="{{interval}}" style="width:{{width}}px"><!-- Indicators --><ol class="carousel-indicators">{{#li}}<li data-target="#{{id}}" data-slide-to="{{i}}" class="{{active}}"></li>{{/li}}</ol><!-- Wrapper for slides --><div class="carousel-inner" role="listbox">{{#li}}<div class="item {{active}}">{{{image}}}<div class="carousel-caption">{{{caption}}}</div></div>{{/li}}</div><!-- Controls --><a class="left carousel-control" href="#{{id}}" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">上一张</span></a><a class="right carousel-control" href="#{{id}}" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">下一张</span></a></div>