<button class="btn btn-{{class}}" type="button" data-toggle="collapse" data-target="#{{id}}" aria-expanded="false" aria-controls="{{id}}">{{title}}</button><div class="collapse" id="{{id}}"><div class="well">{{{text}}}</div></div>