<div class="dropdown"><button id="{{id}}" class="btn btn-{{class}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{button}} <span class="caret"></span></button><ul class="dropdown-menu" aria-labelledby="{{id}}">{{#li}}<li>{{{a}}}</li>{{/li}}</ul></div>