<div class="wrapper">
    {{header}}
    <article class="home-main">
        <div class="home-info-wrapper">
            <div class="home-info">
                <div class="info-header">
                    {{{infoHeader}}}
                </div>
                <nav class="info-tabs" id="home-feed-tabs">
                    <ul class="" role="tablist">
                    {{#login}}
                        <li role="presentation" class="active"><a href="#following" id="following-tab" role="tab" data-toggle="tab" aria-controls="following">用户动态</a></li>
                        <li role="presentation"><a href="#following_sites" id="following_sites-tab" role="tab" data-toggle="tab" aria-controls="following_sites">站点动态</a></li>
                    {{/login}}
                        <li role="presentation" class="{{active}}"><a  href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all">精彩推荐</a></li>
                    </ul>
                </nav>
                <div id="home-feed-content" class="tab-content">
                    {{#login}}

                    <div role="tabpanel" class="user-home-feed tab-pane fade" id="following_sites" aria-labelledby="following_sites-tab" data-filter="following_sites" data-limit="30" data-item_type="default">
                        {{^siteHidden}}
                        <div class="info-user-list">
                            <h5>您关注的站点较少，也许您会对下面的内容感兴趣。</h5>
                            <ul>
                                {{#recommendSite}}
                                <li>
                                    {{&s_avatar}}
                                    <div>
                                        <b><a href="{{s_url}}" data-src="{{s_prefix}}">{{s_name}}</a></b>
                                        <span>+关注</span>
                                    </div>
                                </li>
                                {{/recommendSite}}
                            </ul>
                        </div>
                        {{/siteHidden}}
                        <div class="user-home-feed-content"></div>
                        <div class="user-activity-more">加载更多<i class="icon-downward"></i></div>
                    </div>
                    <div role="tabpanel" class="user-home-feed tab-pane fade  in active" id="following" aria-labelledby="following-tab" data-filter="following" data-limit="30" data-item_type="default">
                        {{^userHidden}}
                        <div class="info-user-list">
                            <h5>您关注的用户较少，也许您会对下面的内容感兴趣。</h5>
                            <ul>
                                {{#recommendRes}}
                                <li>
                                    {{&avatar}}
                                    <div>
                                        <b><a href="{{userurl}}">{{username}}</a></b>
                                        <span>+关注</span>
                                    </div>
                                </li>
                                {{/recommendRes}}
                            </ul>
                        </div>
                         {{/userHidden}}
                        <div class="user-home-feed-content"></div>
                        <div class="user-activity-more">加载更多<i class="icon-downward"></i></div>
                    </div>
                    {{/login}}
                    <div role="tabpanel" class="user-home-feed tab-pane fade {{inactive}}" id="all" aria-labelledby="all-tab" data-filter="all" data-limit="30" data-item_type="default">
                    <ul class="page-recommend">
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        {{^mobileUser}}
        <aside class="home-aside">
            <div class="aside-top">
                <img src="/resources/feed/huijilargelogo.png">
            </div>
            <div class="aside-bottom">
                <ul class="home-statistics clear">
                    <li><b>{{fileCount}}</b><span>文件上传</span></li>
                    <li><b>{{siteCount}}</b><span>维基站点</span></li>
                    <li><b>{{userCount}}</b><span>编辑者</span></li>
                    <li></li>
                    <li><b>{{editCount}}</b><span>编辑次数</span></li>
                    <li><b>{{pageCount}}</b><span>内容页面</span></li>
                </ul>
                <ul class="wiki-href">
                    <li><i class="icon-book-open"></i><a href="{{helpManual}}">编辑手册</a></li>
                    <li><i class="icon-plane"></i><a href="{{tarmac}}">灰机停机坪</a></li>
                    <li><i class="icon-envelope"></i><a href="{{contact}}">联系我们</a></li>
                </ul>
                <div class="user-info row">
                    {{#login}}
                    <div class="user-login-stats">
                        <div class="user-avatar col-md-3">
                            {{&userAvatar}}
                        </div>
                        <div class="col-md-9">
                            <p class="user-msg"><span class="user-name">{{userName}}</span><a href="{{levelUrl}}" rel="nofollow">{{&userLevel}}</a></p>
                            <ul class="user-follow-msg">
                                <li><h5>编辑</h5>{{&userEdit}}</li>
                                <li></li>
                                <li><h5>关注</h5>{{&follower}}</li>
                                <li></li>
                                <li><h5>粉丝</h5>{{&followee}}</li>
                            </ul>
                            <div class="cleared"></div>

                        </div>
                        <div class="col-md-12">
                            <div class="svg-wrap">
                               {{&lange}}
                            </div>
                        </div>
                    </div>
                    {{/login}}
                    {{^login}}
                    <div class="front-login">
                        <input id="fr-login-user-name" class="loginText" type="text" placeholder="请输入用户名">
                        <input id="fr-login-user-password" class="loginPassword"  placeholder="请输入密码" type="password" name="wpPassword">
                        <input type="checkbox" value="1" id="frRemember" tabindex="4" ><label for="frRemember"><a>记住我</a></label>
                        <input id="frLoginAttempt" tabindex="6" class="mw-ui-button btn  mw-ui-block mw-ui-constructive" data-loading-text="登录中..." type="button" value="登 录">
                        <a href="/index.php?title=特殊:用户登录&type=signup">注册新用户</a>
                        <div class="unite-login">
                            <span>联合登录</span>
                            <!--<span id="wb_connect_btn" class="icon-weibo-share"></span>-->
                            <a href="#" class="icon-weibo-share"></a>
                            <a href="{{qqUrl}}" class="icon-qq-share"></a>
                        </div>
                    </div>
                    {{/login}}
                    <div class="col-md-12">
                    <div class="top">
                        <ul id="home-rank-tab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#site" role="tab" id="site-tab" data-toggle="tab" aria-controls="site">站点排名</a></li>
                            <li role="presentation"><a href="#user" id="user-tab" role="tab" data-toggle="tab" aria-controls="user" aria-expanded="true">用户排名</a></li>
                        </ul>
                        <div id="home-rank-content" class="tab-content">
                            <ul role="tabpanel" class="tab-pane fade in active" id="site" aria-labelledby="site-tab">
                            {{#siteRank}}
                                <li>
                                    <span class="home-rank-point">{{site_score}}</span>
                                    <div class="home-rank-right clear">
                                        <span class="home-rank-list">{{site_rank}}</span>
                                        <div class="home-rank-msg">
                                            <a href="{{site_url}}">{{site_prefix}}</a>
                                            <ul>
                                                <li>{{totalEdits}}<span>编辑</span></li>
                                                <li></li>
                                                <li>{{totalArticles}}<span>文章页</span></li>
                                                <li></li>
                                                <li>{{totalPages}}<span>总页面</span></li>
                                                <li></li>
                                                <li>{{totalUsers}}<span>用户</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {{/siteRank}}
                            </ul>
                            <div role="tabpanel" class="tab-pane fade" id="user" aria-labelledby="user-tab">
                                <ul class="top-users weekly-rank">
                                    {{#weekRank}}
                                    <li class="top-fan-row">
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/weekRank}}
                                </ul>
                                <ul class="top-users monthly-rank hide">
                                    {{#monthRank}}
                                    <li class="top-fan-row">
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/monthRank}}
                                </ul>
                                <ul class="top-users total-rank hide">
                                    {{#totalRank}}
                                    <li class="top-fan-row">
                                        <span class="top-fan-num">{{rank}}</span>
                                        <span class="top-fan">
                                            <a href="{{user_url}}">{{&avatarImage}}{{user_name}}</a>
                                        </span>
                                        <span class="top-fan-points">
                                            <b>{{user_points}}</b> 公里
                                        </span>
                                    </li>
                                    {{/totalRank}}
                                </ul>
                                <ul class="nav-tab">
                                    <li class="active">周里程<span>/</span></li>
                                    <li>月里程<span>/</span></li>
                                    <li>总里程</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="resource-logo">
                <a href="http://www.bootcss.com"><span class="b-logo">B</span></a>
                <a href="http://www.mediawiki.org"><span class="m-logo">
                    <img src="/resources/feed/mediawiki-logo.png">
                </span></a>
            </div>
        </aside>
        {{/mobileUser}}
        <img src="/resources/feed/whole-huiji.png" class="home-huiji">
        <span id="wg-toggle"></span>
    </article>
    <div class="bottom">
        <div class="container">
            <footer>
                <p class="text-center">
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.huiji.wiki/wiki/%E7%81%B0%E6%9C%BA%E5%81%9C%E6%9C%BA%E5%9D%AA">灰机停机坪</a> |
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.huiji.wiki/wiki/%E7%BB%B4%E5%9F%BA%E5%AE%B6%E5%9B%AD%E8%AE%A1%E5%88%92">维基家园计划</a> |
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.huiji.wiki/wiki/%E5%AE%87%E5%AE%99%E5%B0%BD%E5%A4%B4%E7%9A%84%E7%81%B0%E6%9C%BAwiki">关于灰机wiki</a> |
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.huiji.wiki/wiki/%E7%81%B0%E6%9C%BAwiki:%E4%BD%BF%E7%94%A8%E6%9D%A1%E6%AC%BE%E5%92%8C%E5%86%85%E5%AE%B9%E5%A3%B0%E6%98%8E">使用条款和声明</a> |
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.huiji.wiki/wiki/%E7%81%B0%E6%9C%BAwiki:%E7%94%A8%E6%88%B7%E7%BC%96%E8%BE%91%E6%9D%A1%E6%AC%BE">编辑条款</a><br>Powered by
                    <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://mediawiki.org">MediaWiki</a> <a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet" href="http://www.miitbeian.gov.cn/">京ICP备15015138号</a></p>
            </footer>
        </div><!-- container -->
    </div><!-- bottom -->
</div>
