<div class="parallax-bg"></div>
<div class="parallax-jumbotron">
<h1 style="color:{{fontcolor}}">{{{title}}}</h1>
<p class="lead" style="color:{{fontcolor}}">{{{subtitle}}}</p>
</div><style>#firstHeading > h1 {display: none;}.parallax-bg {	background-size:cover;	background: url("{{bg}}") no-repeat center center;}</style>