<div>
	<ul class="nav {{class}}" role="tablist">
	{{#li}}
		<li role="presentation" class="{{active}}"><a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">{{title}}</a></li>
	{{/li}}
	</ul>
	<div class="tab-content">
	{{#li}}
		<div role="tabpanel" class="tab-pane {{active}}" id="{{id}}">{{{content}}}</div>
	{{/li}}
	</div>
</div>