                                  <ul class="dropdown-menu hub-menu" role="menu">
                                    <li>
                                        <ul class="hub-list">
                                            <li class="letter active" data-toggle="letter">文学</li>                                            
                                            <li class="indie" data-toggle="indie">独立</li>
                                            <li class="game" data-toggle="game">游戏</li>
                                            <li class="movie" data-toggle="movie">影视</li>
                                            <li class="more" data-toggle="more">更多</li>
                                            <li class="blizz" data-toggle="blizz">暴雪</li>                                            
                                        </ul>
                                    </li>
                                    <li class="a">
                                        <ul class="hub-selection letter-link active">
                                            <li><a href="http://asoiaf.huiji.wiki">冰与火之歌</a></li>
                                            <li><a href="http://lotr.huiji.wiki">魔戒</a></li>
                                            <li><a href="http://lgqm.huiji.wiki">临高启明</a></li>
                                            <li><a href="http://witcher.huiji.wiki">猎魔人</a></li>
                                            <li><a href="http://coppermind.huiji.wiki/wiki">红铜智库</a></li>
                                            <li><a href="http://jiuzhou.huiji.wiki">九州</a></li>
                                        </ul>                                        
                                        <ul class="hub-selection indie-link">
                                            <li><a href="http://rimworld.huiji.wiki">Rimworld</a></li>                                            
                                            <li><a href="http://factorio.huiji.wiki">异星工厂</a></li>
                                            <li><a href="http://xinglugu.huiji.wiki">星露谷物语</a></li> 
                                            <li><a href="http://starbound.huiji.wiki">Starbound</a></li>
                                            <li><a href="http://shenzhen-io.huiji.wiki">深圳I/O</a></li>
                                            <li><a href="http://isaac.huiji.wiki">以撒的结合</a></li>
                                        </ul>
                                        <ul class="hub-selection game-link">
                                            <li><a href="http://warframe.huiji.wiki">Warframe</a></li>
                                            <li><a href="http://civ6.huiji.wiki">文明VI</a></li>
                                            <li><a href="http://gwent.huiji.wiki">昆特牌</a></li>                                            
                                            <li><a href="http://dota.huiji.wiki">DotA</a></li>
                                            <li><a href="http://gw2.huiji.wiki">激战2</a></li>
                                            <li><a href="http://dnfcn.huiji.wiki">地下城与勇士</a></li>                                                                                       
                                        </ul>
                                        <ul class="hub-selection movie-link">
                                            <li><a href="http://movie.huiji.wiki">灰机影视</a></li>
                                            <li><a href="http://mfassbender.huiji.wiki">迈克尔·法斯宾德</a></li>
                                            <li><a href="http://bilibili.huiji.wiki">哔哩哔哩</a></li>
                                            <li><a href="http://jinguang.huiji.wiki">金光布袋戏</a></li>
                                            <li><a href="http://doctorwho.huiji.wiki/">神秘博士</a></li>
                                            <li><a href="http://mcu.huiji.wiki">漫威电影宇宙</a></li>                                                                                        
                                        </ul>
                                        <ul class="hub-selection more-link">
                                            <li><a href="http://warriors.huiji.wiki">猫武士</a></li>
                                            <li><a href="http://saintseiya.huiji.wiki">圣斗士星矢</a></li>
                                            <li><a href="http://hsr.huiji.wiki">高速铁路</a></li>
                                            <li><a href="http://riordan.huiji.wiki">雷克·莱尔顿</a></li>
                                            <li><a href="http://guohun.huiji.wiki">国魂</a></li>
                                            <li><a href="http://tarsylia.huiji.wiki">塔希里亚</a></li>                                          
                                        </ul>
                                        <ul class="hub-selection blizz-link">
                                            <li><a href="http://warcraft.huiji.wiki">魔兽世界</a></li>
                                            <li><a href="http://hearthstone.huiji.wiki">炉石传说</a></li>
                                            <li><a href="http://overwatch.huiji.wiki">守望先锋</a></li>
                                            <li><a href="http://starcraft.huiji.wiki">星际争霸</a></li>
                                            <li><a href="http://game.huiji.wiki">灰机游戏</a></li>
                                            <a href="http://www.huiji.wiki/wiki/%E7%89%B9%E6%AE%8A:%E7%AB%99%E7%82%B9%E6%8E%92%E8%A1%8C" class="wiki-random">站点排行榜</a>
                                        </ul>
                                    </li>
                                  </ul>
